// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// * @font-face
//   - Pen of Truth
//   - VAG Rounded Bold
//   - VAG Rounded Light
// * Mixins
// * Calibration
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////
// <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.css">
@charset 'utf-8';
@import url("/assets/fonts/font-awesome/css/font-awesome.css");
// @font-face
// ==================================================================================================

// Pen of Truth
// ------------------------------------------------
@font-face {
    font-family: 'Pen-of-Truth';
    src: url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.eot');
    src: url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.eot') format('embedded-opentype'),
        url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.woff2') format('woff2'),
        url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.woff') format('woff'),
        url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// VAG Rounded
// - Bold
// - Light
// ------------------------------------------------
@font-face {
    font-family: 'VAG-Rounded-BT';
    src: url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.eot');
    src: url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.eot') format('embedded-opentype'),
        url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.woff2') format('woff2'),
        url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.woff') format('woff'),
        url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAG-Rounded-Light-Ssi-Light';
    src: url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.eot');
    src: url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.eot') format('embedded-opentype'),
        url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.woff2') format('woff2'),
        url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.woff') format('woff'),
        url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Mixins
// ==================================================================================================
@mixin text-variant(
    $text-display: inline-block,
    $text-font-family: font-family(secondary),
    $text-font-size: font-secondary-size(size-5),
    $text-line-height: 1.3, // 1.5
    $text-color: color-text(default)
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: $text-display;
    font-family: $text-font-family;
    font-size: $text-font-size;
    font-weight: normal;
    line-height: $text-line-height;
    vertical-align: middle;
    color: $text-color;
    text-transform: none;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.is-error {
        color: color-validation(error);
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    // Display
    &.is-paragraph {
        display: block;
        margin-bottom: 35px;
    }

    &.is-paragraph-nospacing {
        display: block;
    }

    &.for-paragraph-about {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    // Weight
    &.is-bold {
        font-family: font-family(primary);
    }

    // Colors
    &.is-black {
        color: $color-black;
    }

    &.is-white {
        color: $color-white;
    }

    &.is-gray {
        color: color-text(default);
    }

    &.is-red {
        color: color-text(red-primary);
    }

    &.is-green {
        color: color-text(green-primary);
    }

    &.is-green-light {
        color: color-text(green-secondary);
    }

    &.is-blue {
        color: color-text(blue-primary);
    }

    // Sizes
    &.is-extra-small {
        font-size: font-secondary-size(size-8); // 12px
    }

    &.is-middle-small {
        font-size: font-secondary-size(size-11); // 18px
    }

    &.is-small {
        font-size: font-secondary-size(size-4); // 20px
    }

    &.is-medium {
        font-size: font-secondary-size(size-2); // 24px
    }

    &.is-large {
        font-size: font-secondary-size(size-9); // 32px
    }

    &.is-extra-large {
        font-size: font-secondary-size(size-6); // 48px
    }

    // Transform
    &.is-uppercase {
        text-transform: uppercase;
    }

    &.is-super {
        vertical-align: super;
    }

    &.is-sub {
        vertical-align: sub;
    }

    // Line height
    &.is-lineheight-self {
        line-height: 1;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(labtop-lg)) {
        font-size: $text-font-size * 0.7;
    }

    &.is-extra-small {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-secondary-size(size-8) * 0.7; // 12px
        }
    }

    &.is-middle-small {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-secondary-size(size-11) * 0.7; // 18px
        }
    }

    &.is-small {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-secondary-size(size-4) * 0.7; // 20px
        }
    }

    &.is-medium {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-secondary-size(size-2) * 0.7; // 24px
        }
    }

    &.is-large {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-secondary-size(size-9) * 0.7; // 32px
        }
    }

    &.is-extra-large {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-secondary-size(size-6) * 0.7; // 48px
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Default
// ------------------------------------------------
.text-default {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-trademark {
        font-size: 0.625vw; // 12px
        position: absolute;
        top: 0;
        left: 100%;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Title
// ------------------------------------------------
.text-title {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(primary),
        $text-font-size: font-primary-size(size-1),
        $text-line-height: 1.2
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-introduction,
    &.is-tabs,
    &.is-tabs-mobile {
        font-size: font-primary-size(size-9);
    }

    &.is-tabs,
    &.is-tabs-mobile {
        margin-bottom: 35px;
    }

    &.is-tabs-mobile {
        display: none;
    }

    &.is-cover {
        font-family: font-family(tertiary);
        font-size: font-tertiary-size(size-1);
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-introduction,
    &.is-tabs,
    &.is-tabs-mobile {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-primary-size(size-9) * 0.7;
        }
    }

    &.is-tabs {
        @media screen and (max-width: screen(phablet-lg-max)) {
            display: none;
        }
    }

    &.is-tabs-mobile {
        @media screen and (max-width: screen(phablet-lg-max)) {
            display: block;
        }
    }

    &.is-cover {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-primary-size(size-1) * 0.7;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Carousel
// ------------------------------------------------
.text-carousel {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(tertiary),
        $text-font-size: 2.5vw, // font-tertiary-size(size-6) = 48px
        $text-line-height: 1,
        $text-color: color-text(yellow-primary)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-big {
        font-size: 3.75vw; // font-tertiary-size(size-10) = 72px
    }

    &.is-large {
        font-size: 3.1vw; // font-tertiary-size(size-7) = 60px
    }

    &.is-title {
        font-family: font-family(primary);
        font-size: 2.25vw; // font-primary-size(size-1) = 40px
        line-height: 1.5;
    }

    &.is-title-icon {
        position: relative;
        font-family: font-family(primary);
        font-size: 1.67vw; // font-primary-size(size-9) = 32px
        line-height: 1.5;
        color: color-text(default);
    }

    &.is-paragraph {
        font-family: font-family(secondary);
        font-size: 1.15vw; // font-secondary-size(size-5) = 22px
        line-height: 1.5;
    }

    &.for-hero-banner {
        margin-top: 125px;
        font-size: 3.1vw; // font-tertiary-size(size-7) = 60px
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.for-hero-banner {
        @media screen and (max-width: screen(tablet-lg-max)) {
            font-size: font-primary-size(size-7); // 60px
        }
    }

    &.is-title-icon {
        @media screen and (max-width: screen(tablet-lg-max)) {
            font-size: font-primary-size(size-4); // 20px
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Link
// ------------------------------------------------
.text-link {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-color: color-text(link)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        color: color-text(link);
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-gray {
        color: color-text(default);
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        &.is-gray {
            color: color-text(default-hover);
        }
    }

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// bevel
// ------------------------------------------------
.text-bevel {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(primary),
        $text-font-size: font-primary-size(size-9),
        $text-color: rgba(124, 197, 118, 0.75)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    text-shadow: -2px -1px 0 rgba(0, 0, 0, 0.3);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-active,
    &:hover,
    &:focus {
        color: $color-white;
        text-shadow: 0 0 0 transparent;
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Submenu
// ------------------------------------------------
.text-submenu {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(secondary),
        $text-font-size: font-secondary-size(size-3),
        $text-line-height: font-secondary-size(size-3),
        $text-color: color-text(submenu)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        color: $color-white;
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-active {
        font-family: font-family(primary);
        font-size: font-secondary-size(size-9);
        color: $color-white;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @media screen and (max-width: screen(labtop-lg)) {
        font-size: font-secondary-size(size-3) * 0.7;
    }

    &.is-active {
        @media screen and (max-width: screen(labtop-lg)) {
            font-size: font-secondary-size(size-9) * 0.7;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Tertiary
// ------------------------------------------------
.text-tertiary {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(tertiary),
        $text-font-size: font-tertiary-size(size-3),
        $text-line-height: font-tertiary-size(size-3),
        $text-color: color-text(green-secondary)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Calibration
// - Base
// - Window
// - Mac
// - iPhone/iPad
// - Android
// - 2 font in 2 language
// ==================================================================================================

// Base
// ------------------------------------------------

// Window
// ------------------------------------------------

// Mac
// ------------------------------------------------

// iPhone/iPad
// ------------------------------------------------

// Android
// ------------------------------------------------

// 2 font in 2 language
// ------------------------------------------------
