// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// * @font-face
//   - Pen of Truth
//   - VAG Rounded Bold
//   - VAG Rounded Light
// * Mixins
// * Calibration
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////
// <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.css">
@charset 'utf-8';
@import url("/assets/fonts/font-awesome/css/font-awesome.css");
// @font-face
// ==================================================================================================

// Pen of Truth
// ------------------------------------------------
@font-face {
    font-family: 'Pen-of-Truth';
    src: url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.eot');
    src: url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.eot') format('embedded-opentype'),
        url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.woff2') format('woff2'),
        url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.woff') format('woff'),
        url('#{path-file(fonts)}/pen-of-truth/pen-of-truth.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// VAG Rounded
// - Bold
// - Light
// ------------------------------------------------
@font-face {
    font-family: 'VAG-Rounded-BT';
    src: url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.eot');
    src: url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.eot') format('embedded-opentype'),
        url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.woff2') format('woff2'),
        url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.woff') format('woff'),
        url('#{path-file(fonts)}/vag-rounded-bt/vag-rounded-bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAG-Rounded-Light-Ssi-Light';
    src: url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.eot');
    src: url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.eot') format('embedded-opentype'),
        url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.woff2') format('woff2'),
        url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.woff') format('woff'),
        url('#{path-file(fonts)}/vag-rounded-light-ssi-light/vag-rounded-light-ssi-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Mixins
// ==================================================================================================
@mixin text-variant(
    $text-display: inline-block,
    $text-font-family: font-family(secondary),
    $text-font-size: font-secondary-size(size-5),
    $text-line-height: 1.3, // 1.5
    $text-color: color-text(default)
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: $text-display;
    font-family: $text-font-family;
    font-size: $text-font-size;
    font-weight: normal;
    line-height: $text-line-height;
    vertical-align: middle;
    color: $text-color;
    text-transform: none;
    letter-spacing: 1px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.is-error {
        color: color-validation(error);
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    // Display
    &.is-paragraph {
        display: block;
        margin-bottom: 20px;
    }

    &.is-paragraph-nospacing {
        display: block;
    }

    &.is-label {
        margin-right: 10px;
        margin-bottom: 0;
    }

    &.for-paragraph-about {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    // Weight
    &.is-bold {
        font-family: font-family(primary);
    }

    // Colors
    &.is-black {
        color: $color-black;
    }

    &.is-white {
        color: $color-white;
    }

    &.is-gray {
        color: color-text(default);
    }

    &.is-gray-light {
        color: color-text(gray-light);
    }

    &.is-gray-lighter {
        color: color-text(gray-lighter);
    }

    &.is-red {
        color: color-text(red-secondary);
    }

    &.is-green {
        color: color-text(green-primary);
    }

    &.is-green-light {
        color: color-text(green-secondary);
    }

    &.is-blue {
        color: color-text(blue-primary);
    }

    &.is-blue-light {
        color: color-text(blue-secondary);
    }

    &.is-orange {
        color: color-text(orange-secondary);
    }

    // Sizes
    &.is-extra-small {
        font-size: font-secondary-size(size-8); // 12px
    }

    &.is-middle-small {
        font-size: font-secondary-size(size-11); // 14px
    }

    &.is-small {
        font-size: font-secondary-size(size-4); // 16px
    }

    &.is-middle-medium {
        font-size: font-secondary-size(size-12); // 18px
    }

    &.is-littlemore-medium {
        font-size: font-secondary-size(size-5); // 20px
    }

    &.is-middlemore-medium {
        font-size: font-secondary-size(size-3); // 22px
    }

    &.is-medium {
        font-size: font-secondary-size(size-2); // 24px
    }

    &.is-little-large {
        font-size: font-secondary-size(size-14); // 28px
    }

    &.is-large {
        font-size: font-secondary-size(size-9); // 32px
    }

    &.is-middle-large {
        font-size: font-secondary-size(size-1); // 40px
    }

    &.is-extra-large {
        font-size: font-secondary-size(size-6); // 48px
    }

    // Transform
    &.is-uppercase {
        text-transform: uppercase;
    }

    &.is-super {
        vertical-align: super;
    }

    &.is-sub {
        vertical-align: sub;
    }

    &.is-linethrough {
        text-decoration: line-through;
    }

    &.is-underline {
        border-bottom: 2px solid color-text(link);
    }

    &.is-italic {
        font-style: italic;
    }

    // Line height
    &.is-lineheight-self {
        line-height: 1;
    }

    &.is-nowrap {
        white-space: nowrap;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(labtop-lg)) {
        // font-size: $text-font-size * $font-size-reduce-primary;
    }

    &.is-extra-small {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-8) * $font-size-reduce-primary; // 12px
        }
    }

    &.is-extra-middle-small {
        @media screen and (max-width: screen(labtop-lg)) {}
    }

    &.is-middle-small {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-11) * $font-size-reduce-primary; // 18px
        }
    }

    &.is-small {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-4) * $font-size-reduce-primary; // 20px
        }
    }

    &.is-medium {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-2) * $font-size-reduce-primary; // 24px
        }
    }

    &.is-large {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-9) * $font-size-reduce-primary; // 32px
        }
    }

    &.is-middle-large {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-1) * $font-size-reduce-primary; // 40px
        }
    }

    &.is-extra-large {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-6) * $font-size-reduce-primary; // 48px
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Default
// ------------------------------------------------
.text-default {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-trademark {
        font-size: 0.625vw; // 12px
        position: absolute;
        top: 0;
        left: 100%;
    }

    &.is-field-notice {
        padding-top: 10px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Title
// ------------------------------------------------
.text-title {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(primary),
        $text-font-size: font-primary-size(size-13),
        $text-line-height: 1.2
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-introduction,
    &.is-tabs,
    &.is-tabs-mobile {
        font-size: font-primary-size(size-3);
    }

    &.is-tabs,
    &.is-tabs-mobile {
        margin-bottom: 35px;
    }

    &.is-tabs-mobile {
        display: none;
    }

    &.is-cover {
        font-family: font-family(tertiary);
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-introduction,
    &.is-tabs,
    &.is-tabs-mobile {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-primary-size(size-9) * $font-size-reduce-primary;
        }
    }

    &.is-tabs {
        @media screen and (max-width: screen(phablet-lg-max)) {
            display: none;
        }
    }

    &.is-tabs-mobile {
        @media screen and (max-width: screen(phablet-lg-max)) {
            display: block;
        }
    }

    &.is-cover {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-primary-size(size-1) * $font-size-reduce-primary;
        }
    }
}

// Overwrite magento style
.page-title {
    h1 {
        display: inline-block;
        padding-bottom: 0;
        font-family: font-family(primary);
        font-size: font-primary-size(size-2);
        font-weight: normal;
        line-height: 1.3;
        vertical-align: middle;
        color: $color-gray-1;
        text-transform: none;
        letter-spacing: 1px;
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Carousel
// ------------------------------------------------
.text-carousel {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(tertiary),
        $text-font-size: 2.5vw, // font-tertiary-size(size-6) = 48px
        $text-line-height: 1,
        $text-color: color-text(yellow-primary)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-big {
        font-size: 3.75vw; // font-tertiary-size(size-10) = 72px
    }

    &.is-large {
        font-size: 3.1vw; // font-tertiary-size(size-7) = 60px
    }

    &.is-title {
        font-family: font-family(primary);
        font-size: 2.25vw; // font-primary-size(size-1) = 40px
        line-height: 1.5;
    }

    &.is-title-icon {
        position: relative;
        font-family: font-family(primary);
        // font-size: 1.67vw; // font-primary-size(size-9) = 32px
        font-size: font-primary-size(size-5); // 20px
        line-height: 1.5;
        color: color-text(default);
    }

    &.is-paragraph {
        font-family: font-family(secondary);
        // font-size: 1.15vw; // font-secondary-size(size-5) = 22px
        font-size: font-secondary-size(size-4); // 16px
        line-height: 1.5;
    }

    &.for-hero-banner {
        margin-top: 125px;
        font-size: 3.1vw; // font-tertiary-size(size-7) = 60px
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.for-hero-banner {
        @media screen and (max-width: screen(tablet-lg-max)) {
            font-size: font-primary-size(size-7); // 60px
        }
    }

    // &.is-title-icon {
    //     @media screen and (max-width: screen(tablet-lg-max)) {
    //         font-size: font-primary-size(size-4); // 20px
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Link
// ------------------------------------------------
.text-link {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-color: color-text(link)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        color: color-text(link);
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-gray {
        color: color-text(default);
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        &.is-gray {
            color: color-text(default-hover);
        }

        &.is-black {
            color: $color-black;
        }
    }

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// bevel
// ------------------------------------------------
.text-bevel {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(primary),
        $text-font-size: font-primary-size(size-9),
        $text-color: rgba(124, 197, 118, 0.75)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    text-shadow: -2px -1px 0 rgba(0, 0, 0, 0.3);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-active,
    &:hover,
    &:focus {
        color: $color-white;
        text-shadow: 0 0 0 transparent;
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-specification {
        color: $color-brown-1;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

        &:hover {
            color: $color-brown-1;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Submenu
// ------------------------------------------------
.text-submenu {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(secondary),
        $text-font-size: font-secondary-size(size-5),
        $text-line-height: font-secondary-size(size-5),
        $text-color: color-text(submenu)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover,
    &:focus {
        color: $color-white;
    }

    &.is-active {
        font-family: font-family(primary);
        // font-size: font-secondary-size(size-9);
        color: $color-white;
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-page {
        @include transition(color .3s ease);
        font-family: font-family(primary);
        font-size: font-secondary-size(size-5); // 20px
        line-height: font-secondary-size(size-5);
        color: $color-gray-4;

        &:hover,
        &:focus {
            color: color-text(default);
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-page {
        &.is-active {
            color: color-text(default);
        }
    }

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @media screen and (max-width: screen(labtop-lg)) {
        // font-size: font-secondary-size(size-3) * $font-size-reduce-primary;
        // line-height: font-secondary-size(size-3) * $font-size-reduce-primary;
    }

    &.is-active {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-9) * $font-size-reduce-primary;
        }
    }

    &.is-page {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: font-secondary-size(size-9) * $font-size-reduce-primary;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Tertiary
// ------------------------------------------------
.text-tertiary {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-family: font-family(tertiary),
        $text-font-size: font-tertiary-size(size-3),
        $text-line-height: font-tertiary-size(size-3),
        $text-color: color-text(green-secondary)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Table
// ------------------------------------------------
.text-table {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include text-variant(
        $text-font-size: font-secondary-size(size-4)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Product price
// ------------------------------------------------
.price-format {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .price-number {
        @include text-variant(
            $text-display: inline-block,
            $text-font-family: font-family(secondary),
            $text-font-size: font-secondary-size(size-5),
            $text-line-height: 1.3,
            $text-color: color-text(default)
        );

        position: relative;
        top: 2px;

        &.is-dismiss {
            margin-right: 10px;
            text-decoration: line-through;
        }

        &.is-discount {
            top: 0;
            color: color-text(red-secondary);
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-product-card {
        justify-content: center;

        .price-number {
            font-size: font-secondary-size(size-4);

            &.is-discount {
                font-size: font-secondary-size(size-3);
            }
        }
    }

    &.is-product-card-detail {
        .price-number {
            font-size: font-secondary-size(size-2);

            &.is-discount {
                font-size: font-secondary-size(size-9);
            }
        }
    }

    &.is-product-card-carousel {
        justify-content: center;

        .price-number {
            font-size: font-secondary-size(size-4);

            &.is-discount {
                font-size: font-secondary-size(size-3);
            }
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Calibration
// - Base
// - Window
// - Mac
// - iPhone/iPad
// - Android
// - 2 font in 2 language
// ==================================================================================================

// Base
// ------------------------------------------------

// Window
// ------------------------------------------------

// Mac
// ------------------------------------------------

// iPhone/iPad
// ------------------------------------------------

// Android
// ------------------------------------------------

// 2 font in 2 language
// ------------------------------------------------
