// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Animation
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Sequences
// ==================================================================================================

.animation-sequences {
    $duration: 0.5s;
    $delay: 0s;

    > * {
        @include transition(all ease);
        @include translate(0, 30px);
        @include opacity(0);

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                @include transition-duration($duration);
                @include transition-delay($delay);
            }
            $duration: $duration + 0.5;
            $delay: $delay + 0.1;
        }
    }

    // Trigger class from AOS javascript plugin
    &.aos-animate,
    &.is-active {
        > * {
            @include translate(0, 0);
            @include opacity(1);
        }
    }
}
