// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Helpers
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

a {
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

// Typography
// ==================================================================================================

// Display
// ------------------------------------------------
.is-hidden {
    display: none;
}

.is-block {
    display: block;
}

// Width
// ------------------------------------------------
.is-fluid {
    width: 100%;
}

.is-responsive-media {
    max-width: 100%;
    margin: auto;
}

// Padding
// ------------------------------------------------
.is-padding-left-blank {
    padding-left: 0;
}

.is-padding-right-blank {
    padding-right: 0;
}

// Alignment
// ------------------------------------------------
.is-text-align-left {
    text-align: left;
}

.is-text-align-right {
    text-align: right;
}

.is-text-align-center {
    text-align: center;
}

// Disabled
// ------------------------------------------------
.is-disabled-event {
    pointer-events: none;
}

// Overflow
// ------------------------------------------------
.is-scrollable {
    overflow: auto;
}
