// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Variables
// * Path file
// * Z index
// * Animation timing
// * Screens (Physical width of device screens)
// * Border radius
// * Colors
//   - Primary
//   - Secondary
//   - Text
//   - Validation
// * Typography
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Path file
// ==================================================================================================
$path-image: '../../assets/images' !default;
$path-icon: '../../assets/images/icon' !default;
$path-background: '../../assets/images/background' !default;
$path-font: '../../assets/fonts' !default;

// Path file maps
$path-file-maps: (
    'images': $path-image,
    'icons': $path-icon,
    'backgrounds': $path-background,
    'fonts': $path-font
);

// Z index
// ==================================================================================================
$zindex-lv-1: 1 !default;
$zindex-lv-2: 9 !default;
$zindex-lv-3: 99 !default;
$zindex-lv-4: 999 !default;
$zindex-lv-5: 9999 !default;
$zindex-lv-6: 99999 !default;

// Z index maps
$zindex-maps: (
    'lv1': $zindex-lv-1,
    'lv2': $zindex-lv-2,
    'lv3': $zindex-lv-3,
    'lv4': $zindex-lv-4,
    'lv5': $zindex-lv-5,
    'lv6': $zindex-lv-6
);

// Animation timing
// ==================================================================================================
$animation-timing-1: cubic-bezier(.75, 0, .25, 1);
$animation-timing-2: cubic-bezier(.38, -0.11, .5, 1.59);

// Animation timing maps
$animation-timing-maps: (
    'smooth': $animation-timing-1,
    'spring': $animation-timing-2
);

// Screens (Physical width of device screens)
// ==================================================================================================
// Mobile (mob)
$screen-mobile-xs: 320px !default;
$screen-mobile-sm: 360px !default;
$screen-mobile-md: 375px !default;
$screen-mobile-lg: 411px !default;

// Phablet (pha)
$screen-phablet-xs: 480px !default;
$screen-phablet-sm: 540px !default;
$screen-phablet-md: 640px !default;
$screen-phablet-lg: 731px !default;

// Tablet (tab)
$screen-tablet-sm: 768px !default;
$screen-tablet-md: 960px !default;
$screen-tablet-lg: 1024px !default;

// Laptop (lab)
$screen-labtop-sm: 1280px !default;
$screen-labtop-md: 1366px !default;
$screen-labtop-lg: 1440px !default;

// Desktop (des)
$screen-desktop-sm: 1600px !default;
$screen-desktop-md: 1920px !default;
$screen-desktop-lg: 2560px !default;

// Screen max
$screen-mobile-xs-max: ($screen-mobile-sm - 1) !default;
$screen-mobile-sm-max: ($screen-mobile-md - 1) !default;
$screen-mobile-md-max: ($screen-mobile-lg - 1) !default;
$screen-mobile-lg-max: ($screen-phablet-xs - 1) !default;

$screen-phablet-xs-max: ($screen-phablet-sm - 1) !default;
$screen-phablet-sm-max: ($screen-phablet-md - 1) !default;
$screen-phablet-md-max: ($screen-phablet-lg - 1) !default;
$screen-phablet-lg-max: ($screen-tablet-sm - 1) !default;

$screen-tablet-sm-max: ($screen-tablet-md - 1) !default;
$screen-tablet-md-max: ($screen-tablet-lg - 1) !default;
$screen-tablet-lg-max: ($screen-labtop-sm - 1) !default;

$screen-labtop-sm-max: ($screen-labtop-md - 1) !default;
$screen-labtop-md-max: ($screen-labtop-lg - 1) !default;
$screen-labtop-lg-max: ($screen-desktop-sm - 1) !default;

$screen-desktop-sm-max: ($screen-desktop-md - 1) !default;
$screen-desktop-md-max: ($screen-desktop-lg - 1) !default;

// Screen maps
$screen-maps: (
    // Mobile (mob)
    'mobile-xs': $screen-mobile-xs,
    'mobile-sm': $screen-mobile-sm,
    'mobile-md': $screen-mobile-md,
    'mobile-lg': $screen-mobile-lg,

    // Phablet (pha)
    'phablet-xs': $screen-phablet-xs,
    'phablet-sm': $screen-phablet-sm,
    'phablet-md': $screen-phablet-md,
    'phablet-lg': $screen-phablet-lg,

    // Tablet (tab)
    'tablet-sm': $screen-tablet-sm,
    'tablet-md': $screen-tablet-md,
    'tablet-lg': $screen-tablet-lg,

    // Laptop (lab)
    'labtop-sm': $screen-labtop-sm,
    'labtop-md': $screen-labtop-md,
    'labtop-lg': $screen-labtop-lg,

    // Desktop (des)
    'desktop-sm': $screen-desktop-sm,
    'desktop-md': $screen-desktop-md,
    'desktop-lg': $screen-desktop-lg,

    // Mobile max (mob)
    'mobile-xs-max': $screen-mobile-xs-max,
    'mobile-sm-max': $screen-mobile-sm-max,
    'mobile-md-max': $screen-mobile-md-max,
    'mobile-lg-max': $screen-mobile-lg-max,

    // Phablet max (pha)
    'phablet-xs-max': $screen-phablet-xs-max,
    'phablet-sm-max': $screen-phablet-sm-max,
    'phablet-md-max': $screen-phablet-md-max,
    'phablet-lg-max': $screen-phablet-lg-max,

    // Tablet max (tab)
    'tablet-sm-max': $screen-tablet-sm-max,
    'tablet-md-max': $screen-tablet-md-max,
    'tablet-lg-max': $screen-tablet-lg-max,

    // Laptop max (lab)
    'labtop-sm-max': $screen-labtop-sm-max,
    'labtop-md-max': $screen-labtop-md-max,
    'labtop-lg-max': $screen-labtop-lg-max,

    // Desktop max (des)
    'desktop-sm-max': $screen-desktop-sm-max,
    'desktop-md-max': $screen-desktop-md-max
);

// Border radius
// ==================================================================================================
$border-radius-1: 5px;

$border-radius-maps: (
    'size-1': $border-radius-1
);

// Colors
// ==================================================================================================

// # Web style guide > color แบ่งออกเป็น 3 แบบ
// 1. Role color เป็นจัดกลุ่มโดยใช้ความสำคัญของสี เช่น Primay, Secondary, Extended (Ref: http://carbondesignsystem.com/style/colors/swatches)
//    - ภายในกลุ่มจะมีสีต่างๆ คละกันไปหมด ไม่มีการไล่ Tint หรือ Shade ที่ชัดเจน
// 2. Group color เป็นจัดกลุ่มโดยใช้ของลักษณะของสี เช่น Gray, Red, Yellow, Blue (Ref: https://wordpress.com/design-handbook/colors/)
//    - ภายในกลุ่มจะมีสีตั้งต้น และจะไล่ Tint หรือ Shade จากสีตั้งต้นนั้น
// 3. Role & Group color (Ref: https://atlassian.design/guidelines/brand/color-1)

// # ขั้นตอนการทำ Color variables structure
// 1. นำ Web style guide: colors จาก Design มาสร้าง Variables base color โดยเทียบกับ HTML color names (https://www.w3schools.com/colors/colors_groups.asp)
// 2. นำ Variables base color มาจัดหมวดหมู่โดยการทำ Maps และ Function

// # เรื่องการไล่ระดับตัวเลขของ Light และ Dark
// - ถ้าดูของ Wordpress (Ref: https://wordpress.com/design-handbook/colors/) ที่ Gray จะเห็นว่ามีการกำหนด Base color จากนั้นก็นำ Base color นั้นไปใช้ในการไล่ Shade
//   ซึ่งทำให้การตั้งชื่อ Variable ทำได้ง่ายมาก แต่ในกรณีที่ Designer มีการไล่ Tint หรือ Shade ของสีมา แต่ไม่ได้ระบุว่าใช้ Base color อะไรในการไล่
//   ก็ให้จัดเรียงสีจากเข้มไปอ่อน โดยลำดับของตัวเลขในการไล่ Tint/Shade ให้เพิ่มที่ละ 10 เช่น xxxxx-light-10, xxxxx-light-20, ...
//   ตัวเลขที่เพิ่มขึ้นจุดประสงค์เพื่อสื่อว่าอ่อนลงหรือเข้มขึ้นเท่านั้น ไม่ได้มีความเป๊ะว่า xxxxx-light-20 ต้องอ่อนกว่า xxxxx-light-10 เท่ากับ 2 เท่า
// - ไม่มีข้อกำหนดตายตัวว่าจะใช้ยังไง แต่ก็ได้สร้างความสัมพันธ์ระหว่างรหัสสีและระดับตัวเลขไว้เพื่อเป็นไกด์
//   ในกรณีเจอการไล่ Shade แบบข้ามช๊อต เช่น
//   #5a6872 > $color-dark-slate-gray
//   #152934 > $color-dark-slate-gray-90
//   #0f212e > $color-dark-slate-gray-100
//   ก็จะใช้ไกด์ช่วยในการตั้งตัวเลข

//   Light
//   --
//   #f9.. = 100
//   #e9.. = 95
//   #d9.. = 90
//   #c9.. = 85
//   #b9.. = 80
//   #c9.. = 75
//   #a9.. = 70
//   #9.. = 65
//   #8.. = 60
//   #7.. = 55
//   #6.. = 50
//   #5.. = 45
//   #4.. = 40
//   #3.. = 30
//   #2.. = 20
//   #1.. = 10

//   Dark
//   --
//   #0.. = 100
//   #1.. = 90
//   #2.. = 80
//   ...
//   #9.. = 10

// # suffix ที่ใช้ในการตั้งชื่อ
// - light/medium/dark (medium ปกติจะไม่ใช้ แต่ก็เป็นตัวเลือกในการตั้งชื่อในกรณีมีการไล่สีแค่ 3 ระดับ)
// - light-10 ... light-100
// - dark-10 ... dark-100

// Base
// ------------------------------------------------
// Black
$color-black: #000000;
// White
$color-white: #ffffff;
// Gray
$color-gray-1: #58585b;
$color-gray-2: #3c3630;
$color-gray-3: #d7d7d7;
$color-gray-4: #b3b3b3;
$color-gray-5: #ebebeb;
$color-gray-6: #2b2b2b;
$color-gray-7: #aeafb3;
$color-gray-8: #959595;
$color-gray-9: #cacaca;
$color-gray-10: #f4f4f4;
$color-gray-11: #848484;
$color-gray-12: #68737a;
$color-gray-13: #636363;
$color-gray-14: #68686a;
$color-gray-15: #474747;
$color-gray-16: #6d6e71;
$color-gray-17: #5a6872;
$color-gray-18: #68737a;
$color-gray-19: #dfe3e6;
$color-gray-20: #cfcfcf;
$color-gray-21: #f7f7f7;
$color-gray-22: #b7b7b7;
// Blue
$color-blue-1: #0e66a3;
$color-blue-2: #0294c7;
$color-blue-3: #3b99fc;
$color-blue-4: #1a88fc;
$color-blue-5: #0070cd;
$color-blue-6: #079fde;
$color-blue-7: #36579c;
$color-blue-8: #00abf7;
$color-blue-9: #00b3c2;
$color-blue-10: #0aaccc;
$color-blue-11: #f1fdfe;
$color-blue-12:#b3eff6;
$color-blue-13:#bcf1f7;
$color-blue-14:#91e7f1;
$color-blue-15:#85eff6;
$color-blue-16:#19afe1;
$color-blue-17:#b0bdc0;
$color-blue-18:#bcd6d8;
$color-blue-19:#73d0da;
$color-blue-20:#8af0f6;
// Yellow
$color-yellow-1: #fff799;
// Orange
$color-orange-1: #ed9a2d;
$color-orange-2: #ffb718;
// Red
$color-red-1: #ff0000;
$color-red-2: #d51f2d;
$color-red-3: #cf0a2c;
// Green
$color-green-1: #c6d675;
$color-green-2: #bfd8af;
$color-green-3: #57970b;
$color-green-4: #78bd3a;
$color-green-5: #77be44;
// Pink
$color-pink-1: #e998b8;
// Brown
$color-brown-1: #863103;

// Primary
// ------------------------------------------------
// $color-steel-blue: #3d70b2;
// $color-corn-flower-blue: #5596e6;
// $color-medium-aqua-marine: #41d6c3;
// $color-white: #ffffff;
// $color-slate-gray: #8c9ba5;
// $color-slate-gray-light-10: #dfe3e6;
// $color-slate-gray-light-20: #f0f3f6;
// $color-slate-gray-light-30: #f5f7fa;
// $color-dark-slate-gray: #5a6872;
// $color-dark-slate-gray-dark-90: #152934;
// $color-dark-slate-gray-dark-100: #0f212e;
// $color-light-cyan: #ecf1f7;

// $color-pink-flower: #e998b8;
// $color-grey-head:#68686a;
// $color-blue-flower:#00b3c2;
// $color-grey:#68737a;
// $color-blue-flower:#0aaccc;
// $color-facebook:#36579c;
// $color-twitter:#00abf7;
// $color-mail:#848484;
// $color-blue-light: #f1fdfe;
// $color-blue-light-20:#bcf1f7;
// $color-dot-blue:#85eff6;
// $color-brown-dark:#474747;
// $color-grey-menu:#636363;
// $color-grey-light:#6d6e71;
// $color-blue-head-thumb: #19afe1;
// $color-blue-light-10:#b3eff6;
// $color-dark-blue: #91e7f1;

// Primary maps
// $color-primary-maps: (
//     'steel-blue': $color-steel-blue,
//     'corn-flower-blue': $color-corn-flower-blue,
//     'medium-aqua-marine': $color-medium-aqua-marine,
//     'white': $color-white,
//     'slate-gray': $color-slate-gray,
//     'slate-gray-light-10': $color-slate-gray-light-10,
//     'slate-gray-light-20': $color-slate-gray-light-20,
//     'slate-gray-light-30': $color-slate-gray-light-30,
//     'dark-slate-gray': $color-dark-slate-gray,
//     'dark-slate-gray-dark-90': $color-dark-slate-gray-dark-90,
//     'dark-slate-gray-dark-100': $color-dark-slate-gray-dark-100,
//     'light-cyan': $color-light-cyan
// );

// Secondary
// ------------------------------------------------
// $color-crimson: #e71d32;
// $color-lime-green : #5aa700;
// $color-gold: #efc100;
// $color-dodger-blue: #5aaafa;
// $color-black: #0f212e;
// $color-black-light-10: #152935;
// $color-medium-purple: #ba8ff7;
// $color-rebecca-purple: #734098;
// $color-light-sea-green: #00b4a0;
// $color-teal: #008571;
// $color-steel-blue: #3d70b2;


// Secondary maps
// $color-secondary-maps: (
//     'crimson': $color-crimson,
//     'lime-green': $color-lime-green,
//     'gold': $color-gold,
//     'dodger-blue': $color-dodger-blue,
//     'black': $color-black,
//     'black-light-10': $color-black-light-10,
//     'medium-purple': $color-medium-purple,
//     'rebecca-purple': $color-rebecca-purple,
//     'light-sea-green': $color-light-sea-green,
//     'teal': $color-teal,
//     'steel-blue': $color-steel-blue
// );

// Validation map
// ------------------------------------------------
$color-validation-maps: (
    'info': $color-blue-2,
    'success': $color-green-1,
    'warning': $color-orange-1,
    'error': $color-red-1,
    'disable': $color-gray-4
);

// Button maps
// ------------------------------------------------
$color-button-maps: (
    'primary': $color-blue-1,
    'primary-hover': $color-blue-1,
    'primary-light': $color-blue-2,
    'primary-light-hover': $color-blue-2,
    'secondary': $color-orange-1,
    'secondary-hover': $color-orange-1,
    'tertiary': $color-green-5,
    'tertiary-hover': $color-green-5
);

// Text maps
// ------------------------------------------------
$color-text-maps: (
    'default': $color-gray-1,
    'default-hover': $color-gray-8,
    'link': $color-blue-5,
    'link-hover': $color-blue-5,
    'yellow-primary': $color-yellow-1,
    'submenu': rgba(255, 255, 255, 0.75),
    'green-primary': $color-green-3,
    'green-secondary': $color-green-5,
    'red-primary': $color-red-1,
    'red-secondary': $color-red-3,
    'blue-primary': $color-blue-6,
    'blue-secondary': $color-blue-18,
    'title-page': $color-gray-6,
    'gray-light': $color-gray-4,
    'orange-primary': $color-orange-1,
    'orange-secondary': $color-orange-2
);

// Typography (size & line-height)
// ==================================================================================================
// Families
$font-family-primary: 'VAG-Rounded-BT';
$font-family-secondary: 'VAG-Rounded-Light-Ssi-Light';
$font-family-tertiary: 'Pen-of-Truth';

// Families maps
$font-family-maps: (
    'primary': $font-family-primary,
    'secondary': $font-family-secondary,
    'tertiary': $font-family-tertiary
);

// Sizes
$font-size-1: 40px;
$font-size-2: 24px;
$font-size-3: 22px; // 28
$font-size-4: 16px; // 20
$font-size-5: 20px; // 22
$font-size-6: 48px;
$font-size-7: 54px; // 60
$font-size-8: 14px; // * 12 > 14
$font-size-9: 32px;
$font-size-10: 72px;
$font-size-11: 14px; // 18
$font-size-12: 18px;
$font-size-13: 34px;
$font-size-14: 28px;
$font-size-15: 10px;
$font-size-16: 11px;

// Sizes reduce
$font-size-reduce-primary: 0.6; // 100% > 60%

// Primary(VAG-Rounded-BT) maps
$font-primary-size-maps: (
    'size-1': $font-size-1,
    'size-2': $font-size-2,
    'size-3': $font-size-3,
    'size-4': $font-size-4,
    'size-5': $font-size-5,
    'size-6': $font-size-6,
    'size-7': $font-size-7,
    'size-8': $font-size-8,
    'size-9': $font-size-9,
    'size-10': $font-size-10,
    'size-11': $font-size-11,
    'size-12': $font-size-12,
    'size-13': $font-size-13,
    'size-14': $font-size-14,
    'size-15': $font-size-15,
    'size-16': $font-size-16
);

// Secondary(VAG-Rounded-Light-Ssi-Light) maps
$font-secondary-size-maps: (
    'size-1': $font-size-1,
    'size-2': $font-size-2,
    'size-3': $font-size-3,
    'size-4': $font-size-4,
    'size-5': $font-size-5,
    'size-6': $font-size-6,
    'size-7': $font-size-7,
    'size-8': $font-size-8,
    'size-9': $font-size-9,
    'size-10': $font-size-10,
    'size-11': $font-size-11,
    'size-12': $font-size-12,
    'size-13': $font-size-13,
    'size-14': $font-size-14,
    'size-15': $font-size-15,
    'size-16': $font-size-16
);

// Tertiary(Pen-of-Truth) maps
$font-tertiary-size-maps: (
    'size-1': $font-size-1,
    'size-2': $font-size-2,
    'size-3': $font-size-3,
    'size-4': $font-size-4,
    'size-5': $font-size-5,
    'size-6': $font-size-6,
    'size-7': $font-size-7,
    'size-8': $font-size-8,
    'size-9': $font-size-9,
    'size-10': $font-size-10,
    'size-11': $font-size-11,
    'size-12': $font-size-12,
    'size-13': $font-size-13,
    'size-14': $font-size-14,
    'size-15': $font-size-15,
    'size-16': $font-size-16
);
