// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Blocks
// * Mixins
// * Contextual variations
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Mixins
// ==================================================================================================
@mixin block-variant(
    $block-display: block,
    $block-width: auto,
    $block-min-width: inherit,
    $block-max-width: inherit,
    $block-height: auto,
    $block-min-height: inherit,
    $block-max-height: inherit,
    $block-padding: 0,
    $block-margin: 0,
    $block-background-color: transparent
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: $block-display;
    width: $block-width;
    min-width: $block-min-width;
    max-width: $block-max-width;
    height: $block-height;
    min-height: $block-min-height;
    max-height: $block-max-height;
    padding: $block-padding;
    margin: $block-margin;
    background-color: $block-background-color;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-viewport-full {
        height: 100vh;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Container
// ------------------------------------------------
.block-container {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include block-variant;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    &.for-development-home {
        // height: auto;
        height: 78.7vh; // 850px
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Viewport
// ------------------------------------------------
.block-viewport {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include block-variant(
        $block-display: flex,
        $block-min-height: 100vh
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-column-center-all {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &.is-column-top-center {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    &.is-row-center-right {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

    &.is-form-account {
        min-height: calc(100vh - 255px);
    }

    &.for-home-developments {
        height: 100vh; // fix ie11
    }

    &.for-subscribe-home {
        position: relative;
        z-index: zindex(lv2);
        height: auto;
        min-height: 1px;
        // min-height: 850px;
        padding: 60px 0;
    }

    &.for-news-home {
        position: relative;
        z-index: zindex(lv2);
        padding-top: 4.45vw; // 85px
        padding-bottom: 4.45vw; // 85px
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.for-home-developments {
        @media screen and (max-width: screen(phablet-md-max)) {
            flex-direction: column;
            height: auto;
        }

        @media (min-width: screen(phablet-lg)) and (max-width: screen(tablet-sm)) {
            // height: 50vh;
            // min-height: 50vh;
        }

        .developments-segment {
            &:first-child {
                @media screen and (max-width: screen(phablet-md-max)) {
                    height: 50vh;
                }
            }
        }
    }

    &.for-subscribe-home {
        @media screen and (max-width: screen(phablet-lg-max)) {
            padding-top: 120px;
            padding-bottom: 160px;
        }
    }

    &.for-news-home {
        @media screen and (max-width: screen(tablet-md-max)) {
            padding-top: 0;
            padding-bottom: 0;
        }

        @media screen and (max-width: screen(tablet-lg)) {
            min-height: 1px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
.safari-mobile {
    .block-viewport {
        &.for-home-developments {
            .developments-segment {
                height: auto;
            }
        }

        &.for-news-home {
            min-height: 1px;
        }
    }
}
// Firefox
