// Secondary
// ------------------------------------------------
@mixin card {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    max-width: 480px;
    margin: auto;
    height: 100%;
    
    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.has-border{
        &.is-first{
            border: 1px solid $color-gray-10;
            &.new-row{
                border-top: 0px solid $color-gray-10;
                border-bottom: 1px solid $color-gray-10;
                border-right: 1px solid $color-gray-10;
                border-left: 1px solid $color-gray-10;
            }
        }
        &.is-then{
            border-top: 1px solid $color-gray-10;
            border-bottom: 1px solid $color-gray-10;
            border-right: 1px solid $color-gray-10;
            border-left: 0px solid $color-gray-10;
            &.new-row{
                border-top: 0px solid $color-gray-10;
                border-bottom: 1px solid $color-gray-10;
                border-right: 1px solid $color-gray-10;
                border-left: 0px solid $color-gray-10;
            }
        }
        &.is-final{
            border-top: 0px solid $color-gray-10;
            border-bottom: 1px solid $color-gray-10;
            border-right: 1px solid $color-gray-10;
            border-left: 0px solid $color-gray-10;
        }
    }
    a {
        text-decoration: none;
    }
    .thumbnail-img{
        width: 100%;
        max-height: 380px;
        overflow: hidden;
    }
    .card-detail{
        font-family: font-family(primary);
        font-size: font-primary-size(size-5); // 20px
        color: $color-black;
        letter-spacing: 1px;
    }
    .card-sub-detail{
        font-family: font-family(seccondary);
        font-size: font-secondary-size(size-4); // 16px
        color: $color-gray-12;
        letter-spacing: 1px;
    }
    .caption{
        width: 100%;
        min-height: 146px;
        padding: 30px 38px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-hover:hover{
        cursor: pointer;
        &.is-blue{
            background: $color-blue-9;
        }
        &.is-pink{
            background: $color-pink-1;
        }
        .card-detail , .card-sub-detail{
            color: $color-white;        
        }
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox