// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Carousel
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// News & Awards
// ------------------------------------------------
.carousel-news,
.carousel-awards,
.carousel-hero,
.carousel-category,
.carousel-sustainable,
.carousel-product {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>
    $pagination-size: 0.9vw; // 17px
    $pagination-size-fix: 12px;
    $pagination-size-fix-small: 11px;

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.slick-dotted {
        &.slick-slider {
            margin-bottom: 0;
        }
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .carousel-item {
        position: relative;
        display: block !important; // fix line height spacing from pludin inline style

        &.is-viewport-full {
            height: 100vh;
        }

        &.is-item-horizontal {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .carousel-link {
        display: block;
    }

    .carousel-image {
        border: 7px solid $color-white;
        border-radius: 7px;

        &.is-border-none {
            border-width: 0;
            border-radius: 0;
        }

        &.is-cover {
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    .carousel-image-item {
        margin: auto;
    }

    .carousel-content-image {
        display: inline-block;
        margin-bottom: 15px;
    }

    .carousel-description {
        display: block;
        padding: 1.3vw 1.55vw 0 1.55vw; // 25px 30px 0 30px
        text-align: center;

        &.is-link {
            position: absolute;
            z-index: zindex(lv2);
            top: 0;
            left: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 10.4vw; // 0 200px

            &:hover {
                text-decoration: none;
            }
        }

        &.is-padding-horizontal-blank {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Slick
    .slick-arrow {
        @include text-hide;
        z-index: zindex(lv2);
        top: 38%;
        width: 1.7vw; // 32px
        height: 2.85vw; // 55px

        &:before {
            display: none;
        }

        &.slick-prev,
        &.slick-next {
            background-size: contain;
        }

        &.slick-prev {
            left: -4.5vw; // -85px
            background-image: url('../images/icon/icon-arrow-carousel-prev.png');
            background-repeat: no-repeat;
        }

        &.slick-next {
            right: -4.5vw;
            background-image: url('../images/icon/icon-arrow-carousel-next.png');
            background-repeat: no-repeat;
        }
    }


    .slick-dots {
        position: static;
        bottom: 0;
        padding: 0.9vw 0; // 15px 0
        line-height: 1;

        li {
            width: $pagination-size;
            height: $pagination-size;
            margin: 0 5px;
            vertical-align: middle;

            &.slick-active {
                button {
                    &:before {
                        background-color: $color-white;
                        opacity: 1;
                    }
                }
            }
        }

        button {
            width: $pagination-size;
            height: $pagination-size;
            padding: 0;

            &:before {
                content: ' ';
                width: $pagination-size;
                height: $pagination-size;
                background-color: transparent; // $color-gray-2
                border: 3px solid $color-white;
                border-radius: 50%;
                opacity: 1;
            }
        }
    }


    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-arrow-inner {
        padding-left: 4.5vw; // 85px
        padding-right: 4.5vw; // 85px

        .slick-arrow {
            top: 50%;

            &.slick-prev {
                left: 1.25vw;
            }

            &.slick-next {
                right: 1.25vw;
            }
        }

        &.for-hero-banner {
            max-height: 100vh;
            padding-left: 0;
            padding-right: 0;

            .slick-arrow {
                top: calc(50% + 60px);
            }
        }

        &.for-category {
            padding-left: 7vw;
            padding-right: 7vw;
        }

        &.for-full-viewport {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.is-pagination-over-carousel {
        .slick-dots {
            position: absolute;
            z-index: zindex(lv2);
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 1.57vw 0;
        }
    }

    &.is-theme-dark {
        .slick-arrow {
            &.slick-prev {
                background-image: url('../images/icon/icon-arrow-carousel-prev-theme-dark.png');
            }

            &.slick-next {
                background-image: url('../images/icon/icon-arrow-carousel-next-theme-dark.png');
            }
        }


        .slick-dots {
            li {
                &.slick-active {
                    button {
                        &:before {
                            background-color: $color-black;
                            opacity: 1;
                        }
                    }
                }
            }

            button {
                &:before {
                    background-color: $color-white;
                    border-color: $color-black;
                }
            }
        }
    }

    &.is-theme-gray {
        .slick-arrow {
            &.slick-prev {
                background-image: url('../images/icon/icon-arrow-carousel-prev-theme-gray.png');
            }

            &.slick-next {
                background-image: url('../images/icon/icon-arrow-carousel-next-theme-gray.png');
            }
        }

        .slick-dots {
            li {
                &.slick-active {
                    button {
                        &:before {
                            background-color: $color-gray-4; // black
                            opacity: 1;
                        }
                    }
                }
            }

            button {
                &:before {
                    background-color: $color-white;
                    border-color: $color-gray-4; // black
                }
            }
        }
    }

    &.is-control-fix-size {
        .slick-arrow {
            width: 15px;
            height: 25px;

            &.slick-prev {
                left: 25px;
            }

            &.slick-next {
                right: 25px;
            }
        }

        .slick-dots {
            padding: 15px 0;

            li {
                width: $pagination-size-fix;
                height: $pagination-size-fix;
            }

            button {
                width: $pagination-size-fix;
                height: $pagination-size-fix;

                &:before {
                    width: $pagination-size-fix;
                    height: $pagination-size-fix;
                }
            }
        }
    }

    &.is-inner-container {
        margin-left: -50px;
        margin-right: -50px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .slick-dots {
        button {
            &:before {
                @media screen and (max-width: screen(tablet-lg-max)) {
                    border-width: 1px;
                }
            }
        }
    }

    .carousel-description {
        &.is-link {
            @media screen and (max-width: screen(tablet-lg-max)) {
                justify-content: center;
            }
        }
    }

    &.is-control-fix-size {
        @media screen and (max-width: screen(tablet-lg-max)) {
            .slick-arrow {
                width: 16px;
                height: 28px;
            }

            .slick-dots {
                padding: 15px 0;

                li {
                    width: $pagination-size-fix-small;
                    height: $pagination-size-fix-small;
                }

                button {
                    width: $pagination-size-fix-small;
                    height: $pagination-size-fix-small;

                    &:before {
                        width: $pagination-size-fix-small;
                        height: $pagination-size-fix-small;
                    }
                }
            }
        }
    }
}

.carousel-name {
    // padding-left: 60px;
    // padding-right: 60px;
    max-width: 1280px;
    margin: 0 auto 30px;

    @media screen and (max-width: screen(labtop-md-max)) {
        margin-left: 50px;
        margin-right: 50px;
    }
}

// Fix layout after integrate with Magento
.carousel-hero {
    margin-top: -80px;
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Development
// ------------------------------------------------
.carousel-development {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>
    $pagination-size: 0.9vw; // 17px
    $carousel-height: 79vh; // 850px

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.slick-slider {
        margin-bottom: 0;
        max-height: $carousel-height; // 850px
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .carousel-item {

    }

    .carousel-image {
        overflow: hidden;
        position: relative;
        min-height: $carousel-height;
        background-size: cover;
    }

    .carousel-image-item {
        @include translate(-50%, -50%);
        position: absolute;
        z-index: zindex(lv1);
        top: 50%;
        left: 50%;
        width: auto;
        max-width: inherit;
        height: 100%;
    }

    .carousel-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        min-height: $carousel-height; // 850px
        padding: 30px 10.5%;
        background-image: url('../images/background/home/home-development-detail.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .carousel-title {

    }

    .carousel-sub-title {
        padding-top: 1.8vw; // 35px
        padding-bottom: 1.8vw; // 35px
    }

    .carousel-paragraph {
        padding-right: 30px;
        padding-bottom: 3.9vw; // 75px
    }

    // Slick
    .slick-list,
    .slick-slide,
    .slick-slide > div {
        max-height: $carousel-height;
    }

    .slick-slide {
        border-width: 0;
    }

    .slick-arrow {
        @include text-hide;
        top: 38%;
        width: 1.7vw; // 32px
        height: 2.85vw; // 55px

        &:before {
            display: none;
        }

        &.slick-prev,
        &.slick-next {
            background-size: contain;
        }

        &.slick-prev {
            left: -4.5vw; // -85px
            background-image: url('../images/icon/icon-arrow-carousel-prev.png');
            background-repeat: no-repeat;
        }

        &.slick-next {
            right: -4.5vw;
            background-image: url('../images/icon/icon-arrow-carousel-next.png');
            background-repeat: no-repeat;
        }
    }

    .slick-dots {
        top: 50%;
        bottom: inherit;
        right: 35px;
        width: auto;
        line-height: 1;

        li {
            display: block;
            width: $pagination-size;
            height: $pagination-size;
            margin: 0 0 18px 0;
            vertical-align: middle;

            &:last-child {
                margin-bottom: 0;

                button {
                    &:before {
                        border-radius: 0;
                    }
                }
            }

            &.slick-active {
                button {
                    &:before {
                        background-color: $color-white;
                        opacity: 1;
                    }
                }
            }
        }

        button {
            width: $pagination-size;
            height: $pagination-size;
            padding: 0;

            &:before {
                content: ' ';
                width: $pagination-size;
                height: $pagination-size;
                border: 3px solid $color-white;
                border-radius: 50%;
                opacity: 1;
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
