// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Checkboxs
// * Mixins
// * Contextual variations
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Mixins
// ==================================================================================================
@mixin checkbox-variant(
    // Label text
    $checkbox-label-padding: 0 0 0 25px,
    $checkbox-label-margin: 0,
    $checkbox-label-font-family: font-family(secondary),
    $checkbox-label-font-size: font-secondary-size(size-11),
    $checkbox-label-font-color: color-text(default),

    // Box
    $checkbox-box-width: 14px,
    $checkbox-box-height: 14px,
    $checkbox-box-color: $color-white,
    $checkbox-box-border: 1px solid $color-gray-3,
    $checkbox-box-border-radius: 2px,

    // Box active
    $checkbox-box-color-active: $color-blue-3,
    $checkbox-box-border-active: 0,

    // icon
    $checkbox-icon-width: 14px,
    $checkbox-icon-height: 14px,
    $checkbox-icon-image: url('#{path-file(icons)}/icon-check-white.png')
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    input[type=checkbox],
    input[type=radio] {
        display: none;

        &:checked {
            + .checkbox-label {
                // Box
                &:before {
                    background-color: $checkbox-box-color-active;
                    border: $checkbox-box-border-active;
                }

                // Check icon
                &:after {
                    @include opacity(1);
                    visibility: visible;
                }
            }
        }
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .checkbox-label {
        position: relative;
        display: inline-block;
        padding: $checkbox-label-padding;
        margin: $checkbox-label-margin;
        font-family: $checkbox-label-font-family;
        font-size: $checkbox-label-font-size;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $checkbox-label-font-color;
        vertical-align: middle;
        cursor: pointer;

        &:before,
        &:after {
            @include translate(0, -50%);
            content: ' ';
            display: block;
            position: absolute;
            z-index: zindex(lv1);
        }

        &:before {
            top: 50%;
            left: 0;
        }

        &:after {
            top: calc(50% - 1px);
            left: -1px;
        }

        // Box
        &:before {
            width: $checkbox-box-width;
            height: $checkbox-box-height;
            background-color: $checkbox-box-color;
            border: $checkbox-box-border;
            border-radius: $checkbox-box-border-radius;
        }

        // Check icon
        &:after {
            @include transition(all 0.3s ease);
            @include opacity(0);
            visibility: hidden;
            width: $checkbox-icon-width;
            height: $checkbox-icon-height;
            background-image: $checkbox-icon-image;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Primary
// ------------------------------------------------
.checkbox-primary {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include checkbox-variant;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Filter
// ------------------------------------------------
.checkbox-filter {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include checkbox-variant(
        // Label text
        $checkbox-label-padding: 0 0 0 30px,
        $checkbox-label-font-family: font-family(primary),
        $checkbox-label-font-size: font-primary-size(size-4),

        // Box
        $checkbox-box-color: $color-white,
        $checkbox-box-border: 1px solid $color-gray-9
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Shape
// ------------------------------------------------
.checkbox-shape {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include checkbox-variant(
        // Label text
        $checkbox-label-padding: 0 0 0 25px,
        $checkbox-label-font-family: font-family(secondary),
        $checkbox-label-font-size: font-secondary-size(size-8),

        // Box
        $checkbox-box-color: $color-white,
        $checkbox-box-border: 1px solid $color-gray-9
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .checkbox-label {
        &:before {
            top: 9px;
        }

        &:after {
            top: 8px;
            left: -1px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-circle {
        .checkbox-label {
            // Box
            &:before {
                border-radius: 50%;
            }
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Payment
// ------------------------------------------------
.checkbox-panel {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include checkbox-variant(
        // Label text
        $checkbox-label-padding: 0,
        $checkbox-label-margin: 0,
        $checkbox-label-font-family: font-family(secondary),
        $checkbox-label-font-size: font-secondary-size(size-5),
        $checkbox-label-font-color: color-text(default),

        // Box
        $checkbox-box-width: 16px,
        $checkbox-box-height: 16px,
        $checkbox-box-color: $color-blue-3,
        $checkbox-box-border: 0,
        $checkbox-box-border-radius: 4px,

        // Box active
        $checkbox-box-color-active: $color-blue-3,
        $checkbox-box-border-active: 0,

        // icon
        $checkbox-icon-width: 16px,
        $checkbox-icon-height: 16px,
        $checkbox-icon-image: url('#{path-file(icons)}/icon-check-white.png')
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    width: 100%;


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    input[type=checkbox],
    input[type=radio] {
        &:checked {
            + .checkbox-label {
                background-color: $color-gray-5;
            }
        }
    }

    .checkbox-label {
        @include transition(all .3s ease);
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 120px;
        padding: 20px 35px;
        background-color: $color-white;

        &:before,
        &:after {
            display: none;
        }
    }

    .checkbox-label-inner {

    }

    .icon-payment {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
    }

    .icon-shipping {
        display: inline-block;
        width: 115px;
        height: 115px;
        margin-right: 20px;
        border: 1px solid $color-gray-4;
        vertical-align: middle;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Captcha(Google)
// ------------------------------------------------
.captcha {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

    @media screen and (max-width: screen(mobile-md-max)) {
        @include scale(.8);
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Method
// ------------------------------------------------

// Overwrite style magento
#checkout-shipping-method-load .sp-methods dd label,
#co-shipping-method-form .sp-methods dd label {
    min-width: initial;
    padding: 0 0 0 25px;
    background-color: transparent;
}

.select-method {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    dl,
    .sp-methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;

        &.for-checkbox-bar {
            display: block;
        }
    }

    // Button accordion
    dt {
        position: relative;
        display: block;
        width: 100%; // 50%
        padding: 0 0 15px;
        margin: 0 0 15px;
        background-color: transparent;
        border-radius: 0;
        border: 0;
        font-family: font-family(primary);
        font-size: font-primary-size(size-8);
        font-weight: normal;
        // line-height: font-primary-size(size-8);
        color: color-text(default);
        text-transform: none;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    // Container list filter option
    dd {
        // min-width: 150px;
        padding: 0 0 15px;
        margin: 0 0 15px;
        background-color: transparent;
        border: 0;
        border-radius: 0;

        ul {
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;

                input[type=checkbox],
                input[type=radio] {
                    display: none;

                    &:checked {
                        + label {
                            // Box
                            &:before {
                                background-color: $color-blue-3;
                                border: 0;
                            }

                            // Check icon
                            &:after {
                                @include opacity(1);
                                visibility: visible;
                            }
                        }
                    }
                }

                label {
                    position: relative;
                    display: inline-block;
                    padding: 0 0 0 25px;
                    margin: 0;
                    font-family: font-family(secondary);
                    font-size: font-secondary-size(size-8);
                    font-weight: normal;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    color: color-text(default);
                    vertical-align: middle;
                    cursor: pointer;

                    &:before,
                    &:after {
                        @include translate(0, -50%);
                        content: ' ';
                        display: block;
                        position: absolute;
                        z-index: zindex(lv1);
                    }

                    // Box
                    &:before {
                        top: 9px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background-color: $color-white;
                        border: 1px solid $color-gray-9;
                        border-radius: 50%;
                    }

                    // Check icon
                    &:after {
                        @include transition(all 0.3s ease);
                        @include opacity(0);
                        visibility: hidden;
                        top: 8px;
                        left: -1px;
                        width: 14px;
                        height: 14px;
                        background-image: url('#{path-file(icons)}/icon-check-white.png');
                    }

                    .price {
                        // font-family: font-family(primary);
                        // font-size: font-primary-size(size-8);
                        // font-weight: normal;
                    }
                }
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Payment
// ------------------------------------------------

// Overwrite style magento
.sp-methods {
    dt {
        &:first-child {
            margin: 0 0 5px;
        }
    }

    .form-list {
        padding-left: 0;
    }
}

.select-payment {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    dl,
    .sp-methods {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        margin-bottom: 0;
    }

    // Button accordion
    dt {
        position: relative;
        display: block;
        padding: 0;
        margin: 0 0 5px;
        background-color: transparent;
        border-radius: 0;
        border: 0;
        // font-family: font-family(primary);
        // font-size: font-primary-size(size-8);
        // font-weight: normal;
        // color: color-text(default);
        // text-transform: none;
        // letter-spacing: 1px;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }

        input[type=checkbox],
        input[type=radio] {
            display: none;

            &:checked {
                + label {
                    // Box
                    &:before {
                        background-color: $color-blue-3;
                        border: 0;
                    }

                    // Check icon
                    &:after {
                        @include opacity(1);
                        visibility: visible;
                    }
                }
            }
        }

        label {
            position: relative;
            display: inline-block;
            padding: 0 0 0 25px;
            margin: 0;
            background-color: transparent;
            font-family: font-family(secondary);
            font-size: font-secondary-size(size-8);
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            color: color-text(default);
            vertical-align: middle;
            cursor: pointer;

            &:before,
            &:after {
                @include translate(0, -50%);
                content: ' ';
                display: block;
                position: absolute;
                z-index: zindex(lv1);
            }

            // Box
            &:before {
                top: 9px;
                left: 0;
                width: 14px;
                height: 14px;
                background-color: $color-white;
                border: 1px solid $color-gray-9;
                border-radius: 50%;
            }

            // Check icon
            &:after {
                @include transition(all 0.3s ease);
                @include opacity(0);
                visibility: hidden;
                top: 8px;
                left: -1px;
                width: 14px;
                height: 14px;
                background-image: url('#{path-file(icons)}/icon-check-white.png');
            }

            .price {
                font-family: font-family(primary);
                font-size: font-primary-size(size-8);
                font-weight: normal;
            }
        }
    }

    // Container list filter option
    dd {
        // min-width: 150px;
        padding: 0;
        margin: 0 0 0 25px;
        background-color: transparent;
        border: 0;
        border-radius: 0;

        ul {
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;

                .agreement-content {
                    max-width: initial;
                    max-height: initial;
                    margin-bottom: 0;
                    padding: 0;
                    background: transparent;
                    border: 0;
                }
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Checkbox shipping
// ------------------------------------------------

// Overwrite style magento
#checkout-shipping-method-load .sp-methods.for-checkbox-bar dd label,
#co-shipping-method-form .sp-methods.for-checkbox-bar dd label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;

    @media screen and (max-width: screen(mobile-lg-max)) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.checkbox-bar {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    dt {
        display: block;
        padding: 0;
        margin: 0 0 10px;
        font-family: font-family(primary);
        font-size: font-primary-size(size-12);
        font-weight: normal;
        line-height: 1.3;
        vertical-align: middle;
        color: $color-gray-1;
        text-transform: none;
        letter-spacing: 1px;

        &:first-child {
            margin-bottom: 10px;
        }
    }

    dd {
        padding: 0;
        margin: 0 0 15px;

        ul {
            li {
                overflow: hidden;
                position: relative;
                display: block;
                padding: 0; // 15px 30px
                cursor: pointer;

                input[type=checkbox],
                input[type=radio] {
                    display: none;

                    &:checked {
                        + label {
                            + .checkbox-bar-background {
                                background-color: $color-gray-21;
                                border-color: $color-green-3;
                            }
                        }
                    }
                }

                label {
                    position: relative;
                    z-index: zindex(lv2);
                    width: 100%;
                    padding: 15px 30px;

                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .method-item {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .method-logo {
        float: none;
        width: auto;
        height: 75px;
        border: 1px solid $color-gray-5;
    }

    .method-name {
        padding-left: 15px;
    }

    .price {
        font-family: font-family(primary);
        font-size: font-primary-size(size-11);
        font-weight: normal;
        line-height: 1.3;
        vertical-align: middle;
        color: $color-gray-1;
        text-transform: none;
        letter-spacing: 1px;
    }

    .checkbox-bar-background {
        @include transition(all .3s ease);
        position: absolute;
        z-index: zindex(lv1);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $color-white;
        border: 1px solid $color-gray-5;
        border-radius: 5px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .method-logo {
        @media screen and (max-width: screen(mobile-lg-max)) {
            height: 45px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Checkbox payment
// ------------------------------------------------

// Overwrite style magento
// #checkout-shipping-method-load .sp-methods.for-checkbox-bar dd label,
// #co-shipping-method-form .sp-methods.for-checkbox-bar dd label {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     padding: 0;
// }

.checkbox-bar-payment {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    dt {
        overflow: hidden;
        position: relative;
        display: block;
        padding: 15px 30px;
        margin: 0 0 10px;
        cursor: pointer;

        &:first-child {
            margin-bottom: 10px;
        }

        input[type=checkbox],
        input[type=radio] {
            display: none;

            &:checked {
                + label {
                    + .checkbox-bar-background {
                        background-color: $color-gray-21;
                        border-color: $color-green-3;
                    }
                }
            }
        }

        label {
            position: relative;
            z-index: zindex(lv2);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-left: 0;
            background-color: transparent;
            cursor: pointer;

            &:before,
            &:after {
                display: none;
            }
        }
    }

    dd,
    .method-special {
        background-color: $color-gray-21;
        padding: 0;
        margin: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        ul {
            padding: 20px 30px 15px 30px;
            margin: -15px 0 10px 0;

            li {
                display: block;
                padding: 0;
                margin: 0;

                * {
                    font-family: font-family(secondary);
                    font-size: font-secondary-size(size-11);
                    font-weight: normal;
                    line-height: 1.3;
                    vertical-align: middle;
                    color: $color-gray-1;
                    text-transform: none;
                    letter-spacing: 1px;
                }

                label {
                    float: none;
                    width: auto;
                    padding: 0;
                    margin: 0;
                    font-family: font-family(primary);
                    font-size: font-primary-size(size-11);
                    text-align: left;

                    &.required {
                        padding-bottom: 5px;
                    }
                }

                address {
                    float: none;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    vertical-align: middle;
                }
            }
        }
    }

    // .method-item {
    //     display: flex;
    //     align-items: center;
    //     width: 100%;
    // }

    .method-logo {
        flex: none;
        position: relative;
        z-index: zindex(lv2);

        img {
            margin-left: 10px;
        }
    }

    // .method-name {
    //     padding-left: 15px;
    // }

    // .price {
    //     font-family: font-family(primary);
    //     font-size: font-primary-size(size-11);
    //     font-weight: normal;
    //     line-height: 1.3;
    //     vertical-align: middle;
    //     color: $color-gray-1;
    //     text-transform: none;
    //     letter-spacing: 1px;
    // }

    .checkbox-bar-background {
        @include transition(all .3s ease);
        position: absolute;
        z-index: zindex(lv1);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $color-white;
        border: 1px solid $color-gray-5;
        border-radius: 5px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    dt {
        @media screen and (max-width: screen(mobile-lg-max)) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
