// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Container
// * Mixins
// * Contextual variations
//   - Content
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

.main-container {
    margin-bottom: 0;
}

// Mixins
// ==================================================================================================
@mixin container-variant(
    $block-display: block,
    $block-width: 100%,
    $block-min-width: initial,
    $block-max-width: 1440px,
    $block-height: auto,
    $block-min-height: initial,
    $block-max-height: initial,
    $block-padding: 0 15px,
    $block-margin: auto,
    $block-background-color: transparent
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: $block-display;
    width: $block-width;
    min-width: $block-min-width;
    max-width: $block-max-width;
    height: $block-height;
    min-height: $block-min-height;
    max-height: $block-max-height;
    padding: $block-padding;
    margin: $block-margin;
    background-color: $block-background-color;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-fluid {
        max-width: initial;
        padding: 0;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Content
// ------------------------------------------------
.container-content {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-variant;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-carousel-with-outer-arrow {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }

    &.is-submenu {}

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-submenu {
        @media screen and (max-width: screen(phablet-lg-max)) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Footer
// ------------------------------------------------
.container-footer {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-variant(
        $block-max-width: 1650px,
        $block-padding: 0 50px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
