// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Fields
// * Mixins
// * Contextual variations
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Global field variables
// ==================================================================================================
$field-height-deault: 57px;
$field-padding-side-deault: 20px;

// Mixins
// ==================================================================================================
@mixin field-size-scale-down() {
    &[type=email],
    &[type=search],
    &[type=number],
    &[type=password],
    &[type=tel],
    &[type=text] {
        @media screen and (max-width: screen(labtop-lg)) {
            // height: $field-height-deault * $font-size-reduce-primary;
            height: $button-height-deault * $font-size-reduce-primary;
            padding-left: $field-padding-side-deault * $font-size-reduce-primary;
            padding-right: $field-padding-side-deault * $font-size-reduce-primary;
        }
    }
}

@mixin field-variant(
    $field-display: block,
    $field-width: auto,
    $field-min-width: 150px,
    $field-max-width: inherit,
    $field-height: 40px, // 57 > 48 > 36 >
    $field-min-height: inherit,
    $field-max-height: inherit,
    $field-padding: 0 20px,
    $field-margin: 0,
    $field-background-color: $color-white,
    $field-border: 0 solid $color-white,
    $field-border-radius: border-radius(size-1),
    $field-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3) inset,
    $field-placeholder-color: $color-gray-4,

    // Typography
    $field-text-font-family: font-family(secondary),
    $field-text-font-size: font-secondary-size(size-8),
    $field-text-line-height: 1,
    $field-text-color: color-text(default),

    //Textarea
    $textarea-padding-top: 20px,
    $textarea-padding-bottom: 20px,
    $textarea-min-height: 120px,

    // Validation
    $field-border-error: 1px solid color-validation(error)
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include placeholder($field-placeholder-color, font-family(secondary));

    display: $field-display;
    width: $field-width;
    min-width: $field-min-width;
    max-width: $field-max-width;
    height: $field-height;
    min-height: $field-min-height;
    max-height: $field-max-height;
    padding: $field-padding;
    margin: $field-margin;
    background-color: $field-background-color;
    border: $field-border;
    border-radius: $field-border-radius;
    box-shadow: $field-box-shadow;

    // Typography
    font-family: $field-text-font-family;
    font-size: $field-text-font-size;
    line-height: $field-text-line-height;
    color: $field-text-color;
    letter-spacing: 1px;

    &:focus {
        outline: 0;
    }

    // Overwrite style
    &[type=email],
    &[type=search],
    &[type=number],
    &[type=password],
    &[type=tel],
    &[type=text] {
        display: $field-display;
        width: $field-width;
        min-width: $field-min-width;
        max-width: $field-max-width;
        height: $field-height;
        min-height: $field-min-height;
        max-height: $field-max-height;
        padding: $field-padding;
        margin: $field-margin;
        background-color: $field-background-color;
        border: $field-border;
        border-radius: $field-border-radius;
        box-shadow: $field-box-shadow;

        // Typography
        font-family: $field-text-font-family;
        font-size: $field-text-font-size;
        line-height: $field-text-line-height;
        color: $field-text-color;

        &:focus {
            outline: 0;
        }
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-error {
        border: $field-border-error;
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-fluid {
        width: 100%;
    }

    &.is-fluid-small {
        width: 100%;
        max-width: 290px;
    }

    &.is-inlineblock {
        display: inline-block;
        vertical-align: middle;
    }

    &.is-bold {
        &[type=email],
        &[type=search],
        &[type=number],
        &[type=password],
        &[type=tel],
        &[type=text] {
            font-family: font-family(primary);
        }
    }

    &.is-textarea {
        padding-top: $textarea-padding-top;
        padding-bottom: $textarea-padding-bottom;
        min-height: $textarea-min-height;
        max-width: 100%;
    }

    &.is-datepicker {
        padding-right: 50px;
        background: url('#{path-file(icons)}/icon-calendar.png') no-repeat calc(100% - 20px) center;
    }

    &.is-number {
        width: 50px;
        min-width: 50px;
        height: 36px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &[type=email],
    &[type=search],
    &[type=number],
    &[type=password],
    &[type=tel],
    &[type=text] {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: $field-text-font-size * $font-size-reduce-primary;
        }
    }

    &.is-datepicker {
        @media screen and (max-width: screen(labtop-lg)) {
            background-position: calc(100% - 10px) center;
            background-size: 16px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Component utilities
// - utility classes for use in component scope
// ------------------------------------------------
.field-validation {
    display: none;
    margin-top: 5px;

    &.is-active {
        display: inline-block;
    }
}

// Primary
// ------------------------------------------------
.field-primary {
  // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
  // >>>>>>>>>>>>>>>>>>>>>>>

  // MIXINS
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include field-variant;
  // @include field-size-scale-down;

  // STYLES OF COMPONENT ITSELF
  // >>>>>>>>>>>>>>>>>>>>>>>

  // STYLES OF CHILD CLASS
  // >>>>>>>>>>>>>>>>>>>>>>>

  // STYLES OF STATE
  // >>>>>>>>>>>>>>>>>>>>>>>

  // STYLES OF MODIFIER CLASS
  // >>>>>>>>>>>>>>>>>>>>>>>

  // STYLES OF STATE WITH MODIFIER CLASS
  // >>>>>>>>>>>>>>>>>>>>>>>

  // MEDIA QUERY
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Secondary
// ------------------------------------------------
.field-secondary {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include field-variant(
        $field-border: 1px solid $color-gray-3,
        $field-box-shadow: 0 0 0 rgba(0, 0, 0, 0)
    );
    // @include field-size-scale-down;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Line bottom
// ------------------------------------------------
.field-line-bottom {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include field-variant(
        $field-height: auto,
        $field-padding: 0 0 5px 0,
        $field-border: 1px solid $color-gray-1,
        $field-border-radius: 0,
        $field-box-shadow: 0 0 0 rgba(0, 0, 0, 0),
        $field-placeholder-color: $color-gray-1,
        $field-text-font-size: font-secondary-size(size-8)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    &[type=email],
    &[type=search],
    &[type=number],
    &[type=password],
    &[type=tel],
    &[type=text] {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-placeholder-color-default {
        @include placeholder($color-gray-4, font-family(secondary));
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// form-icon
//
// ------------------------------------------------
@mixin form-icon(
    $form-icon-max-width: 320px,
    $form-icon-height: 40px,
    $form-icon-border: none,
    $form-icon-border-radius: 5px,
    $form-icon-font-size: font-secondary-size(size-4),
    $place-holder-padding: 0px 20px,
    $icon-code: "\f002",
    $icon-size: 22px,
    $icon-top: 15px,
    $icon-right: 23px,
    $icon-color: $color-gray-1
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;
    width: 100%;
    height: $form-icon-height;
    max-width: $form-icon-max-width;

    &::before {
        content: $icon-code;
        font-family: FontAwesome;
        position: absolute;
        right: 0px;
        font-size: $icon-size;
        top: $icon-top;
        right: $icon-right;
        color: $icon-color;
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    input {
        width: 100%;
        height: 100%;
        border: $form-icon-border;
        border-radius: $form-icon-border-radius;
        padding: $place-holder-padding;
        font-family: font-family(secondary);
        font-size: $form-icon-font-size;

        &:focus {
            outline: none;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Search with icon
// ------------------------------------------------
.field-search-with-icon {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include form-icon(
        $form-icon-font-size: font-secondary-size(size-8)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;

    &:before {
        display: none;
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    form {
        height: 100%;
    }

    .button-search {
        position: absolute;
        z-index: zindex(lv1);
        top: 50%;
        right: 15px;
        margin-top: -12px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Overwrite magento style
// ------------------------------------------------
.input-box {
    padding-top: 0;
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
