// container-header
// ------------------------------------------------
@mixin container-header(
    $container-background: none,
    $container-height: 50vh, // 540px
    $container-padding: 0 50px // 0 124px
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-image: $container-background;
    height: $container-height;
    max-height: 360px;
    padding: $container-padding;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(phablet-lg-max)) {
        padding: 0px 25px;
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox


// text-header
// ------------------------------------------------
@mixin text-header(
    $text-header-font: font-family(primary),
    $text-header-size: font-primary-size(size-1),
    $text-header-color: $color-white,
    $text-header-margin-top: 0px,
    $text-header-margin-bottom: 12px,
    $text-sub-font: font-family(secondary),
    $text-sub-size: font-secondary-size(size-3),
    $text-sub-color: $color-white
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title {
        text-transform: unset;
        font-family: $text-header-font;
        font-size: $text-header-size;
        color: $text-header-color;
        margin-top: $text-header-margin-top;
        margin-bottom: $text-header-margin-bottom;
        letter-spacing: 1px;
    }
    .sub-title {
        text-transform: unset;
        font-family: $text-sub-font;
        font-size: $text-sub-size;
        color: $text-sub-color;
        letter-spacing: 1px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(tablet-lg)) {
        // padding: 0px 30px;
        .head-title {
            font-size: 55px;
        }
        .sub-title {
            display: inline;
            font-size: 25px;
        }
    }
    @media (max-width: screen(phablet-xs)) {
        .head-title {
            font-size: 45px;
        }
        .sub-title {
            font-size: 20px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// detail-page-header
// ------------------------------------------------
@mixin detail-page-header(
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title{
        font-family: font-family(primary);
        text-transform: unset;
        font-size: font-primary-size(size-14); // size-5
        color: $color-gray-14;
        letter-spacing: 1px;
    }
    .text-credit{
        font-family: font-family(secondary);
        font-size: font-secondary-size(size-11);
        color: $color-gray-1;
        letter-spacing: 1px;

        .text-sub-credit{
            font-family: font-family(secondary);
            color: $color-blue-10;
            letter-spacing: 1px;
        }
    }
    .text-detail{
        font-family: font-family(secondary);
        font-size: font-secondary-size(size-4);
        color: $color-gray-1;
        line-height: 35px;
        letter-spacing: 1px;

        .text-mark{
            font-family: font-family(primary);
        }
    }
    .img-head-container{
        width: 100%;
        max-width: 1438px;
        max-height: 958px;
    }
    .img-sub-container{
        width: 100%;
        max-width: 597px;
        max-height: 380px;
    }


    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .text-credit{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .img-head-container{
        margin-top: 37px;
    }
    .text-detail{
        &:first-child{
            margin-top: 54px;
        }
        &.except{
            margin-top: 28px;
        }
        margin-top: 30px; // 73
    }
    .img-sub-container{
        margin-top: 47px;
        margin-right: 48px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // @media (max-width: screen(labtop-lg)){
    //     .head-title{
    //         display: inline;
    //     }
    // }

    // @media (max-width: screen(labtop-md)){
    //     .head-title{
    //         font-size: 44px;
    //     }
    //     .text-credit{
    //         font-size: 20px;
    //     }
    //     .text-detail{
    //         font-size: 20px;
    //     }
    // }

    // @media (max-width: screen(labtop-sm)){
    //     .head-title{
    //         font-size: 38px;
    //     }
    //     .text-credit{
    //         font-size: 20px;
    //     }
    //     .text-detail{
    //         font-size: 20px;
    //     }
    // }

    // @media (max-width: screen(phablet-md)){
    //     padding: 60px 15px;
    //     .head-title{
    //         font-size: 33px;
    //     }
    // }

    // @media (max-width: screen(phablet-sm)){
    //     .head-title{
    //         font-size: 30px;
    //     }
    //     .text-credit{
    //         font-size: 18px;
    //     }
    //     .text-detail{
    //         font-size: 18px;
    //     }
    // }

    // @media (max-width: screen(mobile-lg)){
    //     .head-title{
    //         font-size: 22px;
    //     }
    //     .text-credit{
    //         font-size: 16px;
    //     }
    //     .text-detail{
    //         font-size: 16px;
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox