// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Lists
// * Mixins
// * Contextual variations
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Mixins
// ==================================================================================================
@mixin list-variant(
    $list-display: inline-block,
    $list-padding: 0,
    $list-margin: 0,

    // List item
    $list-item-display: inline-block,
    $list-item-padding: 0,
    $list-item-margin: 0
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: $list-display;
    padding: $list-padding;
    margin: $list-margin;
    vertical-align: middle;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        display: $list-item-display;
        padding: $list-item-padding;
        margin: $list-item-margin;
        vertical-align: middle;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-fluid {
        width: 100%;
    }

    &.is-flexible-height {
        height: auto;
        min-height: initial;
    }

    &.is-vertical {
        .list-item {
            margin-bottom: 20px;
        }
    }

    &.is-horizontal-spacebetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Form
// ------------------------------------------------
.list-form {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-item-display: block,

        // List item
        $list-item-margin: 0 0 20px 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        &.is-button {
            padding-top: 30px;
        }
    }

    .list-form-inner {
        display: flex;
        margin-left: -5px;
        margin-right: -5px;

        &.is-spacing-column-large {
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    .list-form-inner-item {
        flex-grow: 1;
        padding-left: 5px;
        padding-right: 5px;

        &.is-spacing-column-large {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-spacing-item-small {
        .list-item {
            margin-bottom: 10px;
        }
    }

    &.is-myaddress {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;

        .list-item {
            flex-grow: 1;
            width: 50%;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 40px;
            }
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Award
// ------------------------------------------------
.list-award {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: flex,

        // List item
        $list-item-display: block,
        $list-item-padding: 0 0 35px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include clearfix;
    flex-wrap: wrap;
    justify-content: center;


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        width: 20%;
        min-height: 330px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;

        &:hover {
            text-decoration: none;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        @media screen and (max-width: screen(phablet-lg-max)) {
            width: 100%;
            min-height: initial;
        }

        @media (min-width: screen(tablet-sm)) and (max-width: screen(tablet-lg-max)) {
            width: 33.33%;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Activity
// ------------------------------------------------
.list-activity {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-item-margin: 0 25px 0 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        position: relative;

        &:last-child {
            margin: 0;
        }

        &.is-login {
        }

        &.is-cart {
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        display: flex;
        flex-wrap: wrap;
    }

    > .list-item {
        @media screen and (max-width: screen(phablet-lg-max)) {
            width: 50%;
            margin-right: 0;
            text-align: right;
        }

        .button-icon-topbar {
            @media screen and (max-width: screen(tablet-sm)) {
                margin-right: 0;
            }
        }

        .button-text-topbar {
            @media screen and (max-width: screen(tablet-sm)) {
                display: none;
            }
        }

        &.is-login {
            @media screen and (max-width: screen(phablet-lg-max)) {
                margin-bottom: 5px;
            }

            @media screen and (max-width: 991px) {
                // display: block;
                // margin-bottom: 10px;
                // margin-right: 0;
                // text-align: right;
            }
        }

        &.is-cart {
            @media screen and (max-width: screen(phablet-lg-max)) {
                margin-bottom: 5px;
            }

            @media screen and (max-width: 991px) {
                // display: block;
                // margin-right: 0;
                // text-align: right;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Sitemap
// ------------------------------------------------
.list-sitemap {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: block,

        // List item
        $list-item-display: block,
        $list-item-margin: 0 0 10px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        margin-bottom: 30px;
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Navigation
// ------------------------------------------------
.list-navigation {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>
    $navigation-width-lv1: 380px;
    $navigation-width-lv2: 380px; // 350px
    $navigation-width-lv3: 380px; // 490px
    $navigation-width-small-lv1: 280px;
    $navigation-width-small-lv2: 280px;
    $navigation-width-small-lv3: 280px;

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: inline-block,
        $list-padding: 30px,

        // List item
        $list-item-display: block,
        $list-item-padding: 0 0 0 0,
        $list-item-margin: 0 0 15px 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    width: $navigation-width-lv1;
    //min-height: calc(100vh - 155px); // 730px
    // max-height: 730px;
    min-height: 645px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        text-align: left;

        &.is-social-link {
            position: absolute;
            z-index: zindex(lv1);
            bottom: 30px;
            left: 30px;
            width: calc(#{$navigation-width-lv1} - 60px);
        }

        &.is-menu-multiple,
        &.is-menu-multiple-lv2 {
            &.is-active {
                > .list-link {
                    .text-link,
                    .list-icon {
                        color: $color-gray-8;
                    }
                }
            }
        }
    }

    .list-link {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; // center

        &:hover,
        &:focus {
            text-decoration: none;

            .text-link {
                color: $color-gray-8;
            }
        }

        .text-link {
            max-width: 90%;
        }

        &.is-items-top {
            align-items: flex-start;
        }

        &.is-items-center {
            justify-content: center;
        }

        &.is-menu-icon {
            position: relative;
            padding-left: 70px;
        }

        &.is-icon-font {
            display: inline-block;
            margin-right: 20px;
            font-size: $font-size-2;
            color: $color-gray-1;
            vertical-align: middle;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .list-icon {
        font-size: $font-size-3;
        color: $color-gray-1;
    }

    .list-icon-image {
        @include translate(0, -50%);
        position: absolute;
        z-index: zindex(lv1);
        top: 50%;
        left: 0;
        width: 48px;
        height: 48px;
    }

    .list-icon-text {
        @include translate(0, -50%);
        position: absolute;
        z-index: zindex(lv1);
        top: 50%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        text-align: center;

        &.is-green {
            background-color: $color-green-5;
        }

        [class*="text-"] {
            margin-top: 5px;
        }
    }

    .list-container-collapse {

    }

    .list-button-collapse {
        display: block;
        margin-bottom: 15px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-footer {
        width: auto;
        min-height: initial;
        padding: 0;

        .list-item {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.is-navigation-lv2,
    &.is-navigation-lv3 {
        @include transition(all .5s ease);
        @include translate(0, 15px);
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: zindex(1);
        top: 0;
        bottom: 0;
        min-height: initial;
        border-left: 1px solid $color-gray-5;

        &.is-active {
            @include translate(0, 0);
            visibility: visible;
            opacity: 1;
        }
    }

    &.is-navigation-lv2 {
        left: $navigation-width-lv1;
        width: $navigation-width-lv2;
    }

    &.is-navigation-lv3 {
        overflow: auto;
        left: $navigation-width-lv2;
        width: $navigation-width-lv3;
    }

    &.is-navigation-collapse {
        overflow: auto;
        vertical-align: top;
        max-height: 730px;
        border-left: 1px solid $color-gray-5;

        &.is-column-left {
            border-left: 0;
        }

        &.is-column-center {
            width: $navigation-width-lv2;
        }

        &.is-column-right {
            width: $navigation-width-lv3;
        }
    }

    &.is-partition {
        border-top: 1px solid $color-gray-5;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(labtop-lg)) {
        width: $navigation-width-small-lv1;
        min-height: 510px;
    }

    .list-item {
        &.is-social-link {
            @media screen and (max-width: screen(labtop-lg)) {
                width: calc(#{$navigation-width-small-lv1} - 60px);
            }
        }
    }

    &.is-navigation-lv2 {
        @media screen and (max-width: screen(labtop-lg)) {
            left: $navigation-width-small-lv1;
            width: $navigation-width-small-lv2;
        }
    }

    &.is-navigation-lv3 {
        @media screen and (max-width: screen(labtop-lg)) {
            left: $navigation-width-small-lv2;
            width: $navigation-width-small-lv3;
        }
    }

    &.is-navigation-collapse {
        &.is-column-center {
            @media screen and (max-width: screen(labtop-lg)) {
                width: $navigation-width-small-lv2;
            }
        }

        &.is-column-right {
            @media screen and (max-width: screen(labtop-lg)) {
                width: $navigation-width-small-lv3;
            }
        }
    }

    .list-link {
        &.is-icon-font {
            @media screen and (max-width: screen(labtop-lg)) {
                // font-size: $font-size-2 * $font-size-reduce-primary;
            }

            > img {
                @media screen and (max-width: screen(labtop-lg)) {
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }

    .list-icon {
        @media screen and (max-width: screen(labtop-lg)) {
            // font-size: $font-size-3 * $font-size-reduce-primary;
        }
    }

    &.is-footer {
        @media screen and (max-width: screen(phablet-lg-max)) {
            padding-top: 10px;
            text-align: center;
        }

        .list-item {
            @media screen and (max-width: screen(phablet-lg-max)) {
                display: block;
                margin-right: 0;
                text-align: center;

                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Cart
// ------------------------------------------------
.list-cart {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: block,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: block,
        $list-item-padding: 25px 35px,
        $list-item-margin: 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        border-bottom: 1px solid $color-gray-5;

        &:last-child {
            border-bottom-width: 0;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.in-balloon {
        // max-height: calc(100vh - 700px);
        max-height: initial;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// About icon
// ------------------------------------------------
.list-whoweare {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: flex,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: inline-block,
        $list-item-padding: 0 20px,
        $list-item-margin: 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        width: 14.2%;
    }

    .list-link {
        position: relative;
        display: block;
        cursor: default;
    }

    .list-link {
        &:hover {
            .list-icon {
                &.is-inactive {
                    opacity: 0.5;
                }

                &.is-active {
                    opacity: 1;
                }
            }
        }
    }

    .list-icon {
        @include transition(opacity .5s ease);

        &.is-inactive {
            opacity: 1;
        }

        &.is-active {
            opacity: 0;
            position: absolute;
            z-index: zindex(lv1);
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        @media screen and (max-width: screen(phablet-lg-max)) {
            width: 33.33%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 30px;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Tabs
// ------------------------------------------------
.list-tabs {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: flex,
        $list-padding: 40px 0 35px,
        $list-margin: 0 auto,

        // List item
        $list-item-display: inline-block,
        $list-item-padding: 0,
        $list-item-margin: 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    justify-content: space-between;
    align-items: center;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    // Reset responsive tabs plugin style
    .list-item {
        flex-grow: 1;
        text-align: center;

        &.r-tabs-state-active {
            .text-submenu {
                color: color-text(default);
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    // Reset responsive tabs plugin style
    &.r-tabs-nav {
        padding: 40px 0 35px;
        margin-left: auto;
        margin-right: auto;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Accordion
// ------------------------------------------------
.list-filter {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: block,
        $list-padding: 21px 42px,
        $list-margin: 0,

        // List item
        $list-item-display: block,
        $list-item-padding: 0,
        $list-item-margin: 0 0 12px 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background-color: $color-gray-10;
    border-radius: 8px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-accordion {
        padding-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Product
// ------------------------------------------------
.list-product {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: flex,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: block,
        $list-item-padding: 0,
        $list-item-margin: -1px 0 0 -1px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    flex-wrap: wrap;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        position: relative;
    }

    .list-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border: 1px solid $color-gray-10;

        &:hover {
            background-color: $color-gray-10;

            .list-icon-add,
            .list-link-overlay {
                visibility: visible;
                opacity: 1;
            }

            .list-thumbnail {
                background-size: 100%;
            }

            .list-detail {
                bottom: -1px;
                margin: 0 -1px;
                background-color: $color-blue-17;
            }

            .text-product {
                color: $color-white;

                &.is-red {
                    color: color-text(red-secondary);
                }
            }
        }

        .text-product {
            @include transition(all .3s ease);
        }
    }

    .list-icon-add {
        @include transition(all .5s ease);
        @include translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: zindex(lv1);
        top: 0;
        left: 50%;
    }

    .list-link-overlay {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: zindex(lv1);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $color-black;
    }

    .list-thumbnail {
        @include transition(all .5s ease);
        width: 100%;
        height: 385px;
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .list-detail {
        @include transition(all .5s ease);
        position: relative;
        z-index: zindex(lv2);
        padding: 30px 70px;
        min-height: 125px;
        text-align: center;
    }

    .list-detail-name {
        margin-bottom: 10px;
    }

    .list-detail-price {
    }

    .list-detail-price-inner {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: middle;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-column-3 {
        > .list-item {
            width: calc(100% / 3);
        }
    }

    &.is-column-5 {
        > .list-item {
            width: calc(100% / 5);
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Product label
// ------------------------------------------------
.list-product-label {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: block,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: block,
        $list-item-padding: 0,
        $list-item-margin: 0 0 10px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: absolute;
    z-index: zindex(lv1);
    top: 15px;
    left: 15px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Rating
// ------------------------------------------------
.list-rating {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: inline-block,
        $list-padding: 0,
        $list-margin: 0 65px 0 0,

        // List item
        $list-item-display: inline-block,
        $list-item-padding: 0,
        $list-item-margin: 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-review {
        display: block;
        margin: 0 0 20px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Category
// ------------------------------------------------
.list-category {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: inline-block,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: inline-block,
        $list-item-padding: 0,
        $list-item-margin: 0 10px 0 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        &:last-child {
            margin-right: 0;
        }
    }

    .list-icon-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;

        &.is-green {
            background-color: $color-green-5;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Development
// ------------------------------------------------
.list-development {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: inline-block,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: inline-block,
        $list-item-padding: 0,
        $list-item-margin: 0 25px 0 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        text-align: center;

        &:last-child {
            margin-right: 0;
        }
    }

    .list-icon {

    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Review
// ------------------------------------------------
.list-review {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: block,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: inline-block,
        $list-item-padding: 0,
        $list-item-margin: 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    > .list-item {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-gray-5;

        &:first-child {
            padding-top: 0;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Bullet
// ------------------------------------------------
.list-bullet {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: block,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: block,
        $list-item-padding: 0 0 0 15px,
        $list-item-margin: 0 0 5px 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        position: relative;

        &:before {
            content: ' ';
            position: absolute;
            z-index: zindex(lv1);
            top: 10px;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $color-gray-1;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-fileupload {
        padding-top: 15px;
    }

    &.is-paragraph {
        padding-top: 5px;
        padding-bottom: 20px;
    }

    &.is-paragraph-nospacing {
        padding-top: 5px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Number
// ------------------------------------------------
.list-number {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: block,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: block,
        $list-item-padding: 0 0 0 15px,
        $list-item-margin: 0 0 5px 0
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item {
        position: relative;

        &:before {
            counter-increment: order;
            content: ""counter(order)".";
            position: absolute;
            z-index: zindex(lv1);
            top: 5px;
            left: 0;
            font-family: font-family(secondary);
            font-size: font-secondary-size(size-4);
            line-height: font-secondary-size(size-4);
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-paragraph {
        padding-top: 5px;
        margin-bottom: 20px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Office
// ------------------------------------------------
.list-office {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include list-variant(
        $list-display: flex,
        $list-padding: 0,
        $list-margin: 0,

        // List item
        $list-item-display: flex,
        $list-item-padding: 0,
        $list-item-margin: 0 0 2px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    flex-wrap: wrap;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .list-item,
    .list-item-inner {
        width: 50%;
    }


    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
