.menu-bar {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: fixed;
    z-index: zindex(lv3);
    top: 155px;
    right: 0px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .icon {
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: none;
        font-size: 25px;
        color: $color-white;
        text-decoration-line: none;
        margin-bottom: 5px;

        &.is-color-face {
            background: $color-blue-7;
        }

        &.is-color-twitter {
            background: $color-blue-8;
        }

        &.is-color-mail {
            background: $color-gray-11;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        top: initial;
        right: initial;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    ul {
        @media screen and (max-width: screen(phablet-lg-max)) {
            display: flex;
        }

        li {
            flex: 1;
        }
    }

    .icon {
        @media screen and (max-width: screen(phablet-lg-max)) {
            width: 100%;
            margin-bottom: 0;
            border-radius: 0;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox