// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Modals
// * Mixins
// * Contextual variations
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Mixins
// ==================================================================================================
@mixin modal-variant(
    $modal-dialog-margin: 0,
    $modal-dialog-align-items: center,

    // Container
    $modal-dialog-container-max-width: 50%,
    $modal-dialog-container-min-height: initial,
    $modal-dialog-container-max-height: initial,
    $modal-dialog-container-padding: 30px,
    $modal-dialog-container-margin: 15px,
    $modal-dialog-container-background-color: $color-white,
    $modal-dialog-container-box-shadow: 0 3px 5px rgba(0, 0, 0, .5),

    // Overlay
    $modal-dialog-overlay-background-color: rgba(0, 0, 0, .5),

    // Body
    $modal-dialog-body-min-height: initial,
    $modal-dialog-body-max-height: initial,

    // Title
    $modal-dialog-title-padding: 0,
    $modal-dialog-title-margin: 0,
    $modal-dialog-title-text-align: left
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include transition(all 0.5s ease);
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: zindex(lv5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: $modal-dialog-margin;
    justify-content: center;
    align-items: $modal-dialog-align-items;
    align-content: $modal-dialog-align-items;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .modal-dialog-container {
        @include transition(transform 0.5s ease);
        @include translate(0, 30px);
        position: relative;
        z-index: zindex(lv2);
        width: 100%;
        max-width: $modal-dialog-container-max-width;
        min-height: $modal-dialog-container-min-height;
        max-height: $modal-dialog-container-max-height;
        padding: $modal-dialog-container-padding;
        margin: $modal-dialog-container-margin;
        background-color: $modal-dialog-container-background-color;
        box-shadow: $modal-dialog-container-box-shadow;

        &.is-small {
            width: 25%;
        }

        &.is-medium {
            width: 50%;
        }

        &.is-large {
            width: 75%;
        }
    }

    .modal-dialog-overlay {
        position: fixed;
        z-index: zindex(lv1);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $modal-dialog-overlay-background-color;
    }

    .modal-dialog-body {
        // overflow: auto;
        min-height: $modal-dialog-body-min-height;
        max-height: $modal-dialog-body-max-height;
    }

    .modal-dialog-title {
        padding: $modal-dialog-title-padding;
        margin: $modal-dialog-title-margin;
        text-align: $modal-dialog-title-text-align;
    }

    .modal-dialog-content {

    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-active {
        visibility: visible;
        opacity: 1;

        .modal-dialog-container {
            @include translate(0, 0);
        }
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Language
// ------------------------------------------------
.modal-language {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include modal-variant(
        $modal-dialog-container-max-width: 625px,
        $modal-dialog-container-padding: 50px,

        // Title
        $modal-dialog-title-margin: 0 0 40px 0,
        $modal-dialog-title-text-align: center
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .language-item {
        display: block;
        text-align: center;
    }

    .language-flag {
        max-width: 80px;
        height: auto;
        margin: auto auto 20px auto;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Search
// ------------------------------------------------
.modal-search {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include modal-variant(
        $modal-dialog-align-items: flex-start,

        // Container
        $modal-dialog-container-max-width: 100%,
        $modal-dialog-container-min-height: 80px,
        $modal-dialog-container-padding: 0 50px,
        $modal-dialog-container-margin: 0,
        $modal-dialog-container-box-shadow: 0 0 0 rgba(0, 0, 0, 0)
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .modal-dialog-container {
        @include translate(0, -100%);
        display: flex;
        align-items: center;
    }

    .modal-dialog-body {
        width: 100%;
    }

    .modal-dialog-content {
        display: flex;
        justify-content: space-between;
    }

    .form-search {
        display: flex;
        align-items: flex-end;
        width: 40%;
    }

    .form-search-inner {
        &.is-field {
            flex-grow: 1;
            padding-right: 15px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-active {

        .modal-dialog-container {
            @include translate(0, 0);
        }
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .form-search {
        @media screen and (max-width: screen(mobile-lg-max)) {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }

        @media (min-width: screen(phablet-sm)) {
            min-width: 350px;
        }

        @media (min-width: screen(phablet-lg)) and (max-width: screen(phablet-lg-max)) {
            width: calc(100% - 150px);
        }
    }

    .form-search-inner {
        &.is-field {
            @media screen and (max-width: screen(mobile-lg-max)) {
                width: 85%;
                padding-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    .modal-dialog-container {
        @media screen and (max-width: screen(mobile-lg-max)) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @media screen and (max-width: screen(phablet-lg-max)) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .modal-dialog-content {
        @media screen and (max-width: screen(mobile-lg-max)) {
            align-items: flex-start;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Return
// ------------------------------------------------
.modal-order-detail {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include modal-variant(
        $modal-dialog-margin: 0,
        $modal-dialog-align-items: flex-start,

        // Container
        $modal-dialog-container-max-width: 480px,
        $modal-dialog-container-min-height: initial,
        $modal-dialog-container-max-height: initial,
        $modal-dialog-container-padding: 0,
        $modal-dialog-container-margin: 25vh 15px 15px 15px,
        $modal-dialog-container-background-color: $color-white,
        $modal-dialog-container-box-shadow: 0 3px 5px rgba(0, 0, 0, .5),

        // Overlay
        $modal-dialog-overlay-background-color: rgba(0, 0, 0, .5),

        // Body
        $modal-dialog-body-min-height: initial,
        $modal-dialog-body-max-height: initial,

        // Title
        $modal-dialog-title-padding: 15px,
        $modal-dialog-title-margin: 0,
        $modal-dialog-title-text-align: left
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .modal-dialog-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-gray-5;
    }

    .modal-dialog-title-segment {
        &.is-title {
            display: flex;
            align-items: center;
        }

        &.is-button {
            display: flex;
            align-items: center;
        }
    }

    .modal-dialog-title-icon {
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;

        &.is-return-detail {
            position: relative;
            top: -3px;
        }
    }

    .product {
        &.is-left {
            width: 15%;
        }

        &.is-right {
            width: 85%;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Modal after loading success message
// ------------------------------------------------
#after-loading-success-message {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: fixed;
    z-index: zindex(lv6);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: font-secondary-size(size-11);
    text-align: center;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .background-overlay {
        position: fixed;
        z-index: zindex(lv1);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .75);
    }

    .message-segment {
        margin-bottom: 20px;

        &.is-button {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
        }
    }

    .button-message {
        min-width: 215px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .message-segment {
        &.is-button {
            @media screen and (max-width: screen(phablet-sm-max)) {
                flex-direction: column;
            }
        }
    }

    .button-message {
        &:first-child {
            @media screen and (max-width: screen(phablet-sm-max)) {
                margin-bottom: 10px;
            }
        }

        @media screen and (max-width: screen(phablet-sm-max)) {
            min-width: 100%;
        }
    }
}

#success-message-container {
    position: relative;
    z-index: zindex(lv2);
    top: 40%;
    width: 500px;
    padding: 45px 30px;
    margin: auto;
    background: $color-white none no-repeat;
    border: 0;
    border-radius: 4px;
    font-weight: normal;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-sm-max)) {
        width: 300px;
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Message bar for notofication
// ------------------------------------------------
.messages {
    position: relative;
    z-index: 9;
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
