// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Notification
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Animation
// ------------------------------------------------
@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

// Global
// ------------------------------------------------
.notification-bar {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include transition(all .5s ease);
    // visibility: hidden;
    // opacity: 0;
    display: none;
    position: fixed;
    z-index: zindex(lv3);
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 50px;
    text-align: center;


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .text-link {
        font-family: font-family(primary);
        vertical-align: top;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-active {
        // visibility: visible;
        // opacity: 1;

        // animation-name: fadeOut;
        // animation-fill-mode: forwards;
        // animation-duration: .5s;
        // animation-delay: 3s;
    }


    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-success {
        background-color: rgba(131, 193, 48, .9);
    }

    &.is-error {
        background-color: rgba(226, 25, 55, .9);
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
