// form-select
//
// ------------------------------------------------
@mixin select-icon(
    $label-font-family: font-family(primary),
    $label-font-size: 30px,
    $select-width: 290px,
    $select-height: 55px ,
    $select-font-size: 24px,
    $select-padding: 2px 2px 2px 18px,
    $select-border-radius: 5px,
    $select-background: $color-white,
    $select-position-icon: 95%,
    $space-text-select: 16px
  ){
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $select-width;
    height: $select-height;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        border: none;
        width: 100%;
        height: 100%;
        font-size: $select-font-size;
        padding: $select-padding;
        margin-left: $space-text-select;
        border-radius: $select-border-radius;
        background: $select-background url('#{path-file(images)}/icon/icon-arrow-down.png') no-repeat $select-position-icon;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// form-group
//
// ------------------------------------------------
@mixin select-form-group(
    $form-group-align: flex-start,
    $form-group-padding: 0px,
    $label-title-font-family: font-family(primary),
    $label-font-family: font-family(primary),
    $label-font-size: 30px,
    $label-min-height:100px,
    $label-color: $color-gray-13,
    $label-opacity:1,
    // select
    $select-width: 290px,
    $select-height: 55px ,
    $select-font-size: 24px,
    $select-padding: 2px 2px 2px 18px,
    $select-border-radius: 5px,
    $select-background: $color-white,
    $select-position-icon:95% ,
    $space-text-select: 16px
  ){
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display:flex;
    width:100%;
    padding: $form-group-padding;
    justify-content: $form-group-align;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .select-input {
        @include select-icon(
            $label-font-family,
            $label-font-size,
            $select-width,
            $select-height,
            $select-font-size,
            $select-padding,
            $select-border-radius,
            $select-background,
            $select-position-icon,
            $space-text-select
        );
    }
    .select-title {
        font-family: $label-title-font-family;
        font-size: $label-font-size;
        color:  $label-color;
        min-width: $label-min-height;
        padding-top: 6px;
        opacity: $label-opacity;
        &:hover{
            text-decoration: none;
            opacity: 1;
        }
        &.active{
            font-family: font-family(primary);
            opacity: 1;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Select arrow
// ------------------------------------------------
.select-arrow {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>
    $select-padding-left: 45px;
    $select-padding-right: 35px;

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include select-icon(
        $select-width: 290px,
        $select-height: 57px,
        $select-font-size: font-primary-size(size-11),
        $select-padding: 0 $select-padding-right 0 $select-padding-left,
        $select-border-radius: 5px,
        $select-background: $color-white,
        $select-position-icon: calc(100% - 10px),
        $space-text-select: 30px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    select {
        margin-left: 0;
        font-family: font-family(primary);
        border: 1px solid $color-gray-3;
        background-size: 16px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-default {
        select {
            padding-left: 20px;
            font-size: font-secondary-size(size-4);
        }
    }

    &.is-country {
        width: auto;
        min-width: 260px;
        margin-left: 30px;

        select {
            background: url('#{path-file(images)}/icon/icon-arrow-down-gray.png') no-repeat calc(100% - 10px), url('#{path-file(images)}/icon/icon-world.png') no-repeat 10px;
        }
    }

    &.is-gender {
        width: auto;
        min-width: 80px;

        select {
            padding-left: 20px;
        }
    }

    &.is-transparent-background {
        background-color: transparent;

        select {
            background-color: transparent;
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(labtop-lg))  {
        // height: 50px * $font-size-reduce-primary;
    }

    select {
        @media screen and (max-width: screen(labtop-lg))  {
            // padding-left: $select-padding-left * $font-size-reduce-primary;
            // padding-right: $select-padding-right * $font-size-reduce-primary;
            // font-size: font-primary-size(size-11) * $font-size-reduce-primary;
            background-size: 10%;
        }
    }

    &.is-country {
        @media screen and (max-width: screen(phablet-lg-max)) {
            margin-top: 10px;
            margin-left: 0;

            select {
                margin-left: 0;
            }
        }

        @media screen and (max-width: screen(labtop-lg)) {
            min-width: 200px;

            select {
                background-size: 12px, 14px; // arrow, world
            }
        }
    }

    &.is-gender {
        @media screen and (max-width: screen(labtop-lg)) {
            height: $button-height-deault * $font-size-reduce-primary;
        }

        select {
            @media screen and (max-width: screen(labtop-lg)) {
                // padding-left: $field-padding-side-deault * $font-size-reduce-primary;
                // padding-right: $field-padding-side-deault * $font-size-reduce-primary;
                // font-size: font-primary-size(size-11) * $font-size-reduce-primary;
                // background-size: 10%;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
