// form-select
//
// ------------------------------------------------
@mixin select-icon(
    $label-font-family: font-family(primary),
    $label-font-size: 30px,
    $select-width: 290px,
    $select-height: 55px ,
    $select-font-size: 24px,
    $select-padding: 2px 2px 2px 18px,
    $select-border-radius: 5px,
    $select-background: $color-white,
    $select-position-icon: 95%,
    $space-text-select: 16px
  ){
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $select-width;
    height: $select-height;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        border: none;
        width: 100%;
        height: 100%;
        font-size: $select-font-size;
        padding: $select-padding;
        margin-left: $space-text-select;
        border-radius: $select-border-radius;
        background: $select-background url('#{path-file(images)}/icon/icon-arrow-down.png') no-repeat $select-position-icon;

        &:focus {
            outline: 0;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// form-group
//
// ------------------------------------------------
@mixin select-form-group(
    $form-group-align: flex-start,
    $form-group-padding: 0px,
    $label-title-font-family: font-family(primary),
    $label-font-family: font-family(primary),
    $label-font-size: 30px,
    $label-min-height:100px,
    $label-color: $color-gray-13,
    $label-opacity:1,
    // select
    $select-width: 290px,
    $select-height: auto ,
    $select-font-size: 24px,
    $select-padding: 2px 2px 2px 18px,
    $select-border-radius: 5px,
    $select-background: $color-white,
    $select-position-icon:95% ,
    $space-text-select: 16px
  ){
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display:flex;
    width:100%;
    padding: $form-group-padding;
    justify-content: $form-group-align;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .select-input {
        @include select-icon(
            $label-font-family,
            $label-font-size,
            $select-width,
            $select-height,
            $select-font-size,
            $select-padding,
            $select-border-radius,
            $select-background,
            $select-position-icon,
            $space-text-select
        );
    }
    .select-title {
        font-family: $label-title-font-family;
        font-size: $label-font-size;
        color:  $label-color;
        min-width: $label-min-height;
        padding-top: 0px;
        opacity: $label-opacity;
        &:hover{
            text-decoration: none;
            opacity: 1;
        }
        &.active{
            font-family: font-family(primary);
            opacity: 1;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Select arrow
// ------------------------------------------------
.select-arrow {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>
    $select-padding-left: 45px;
    $select-padding-right: 35px;

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include select-icon(
        $select-width: 290px,
        $select-height: 40px, // 48 > 36 > 30
        $select-font-size: font-primary-size(size-8),
        $select-padding: 0 $select-padding-right 0 $select-padding-left,
        $select-border-radius: 5px,
        $select-background: $color-white,
        $select-position-icon: calc(100% - 10px),
        $space-text-select: 30px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: inline-block;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    select {
        margin-top: 0;
        margin-left: 0;
        border: 1px solid $color-gray-3;
        background-size: 10px; // 16 > 12
        font-family: font-family(primary);
        letter-spacing: 1px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-default {
        select {
            padding-left: 20px; // 15
            font-size: font-secondary-size(size-8);
        }
    }

    &.is-fluid {
        width: 100%;
        max-width: initial;
    }

    &.is-size-itself {
        width: auto;
        max-width: initial;

        select {
            padding-right: 50px;
        }
    }

    &.is-country {
        width: auto;
        min-width: 260px;
        margin-left: 30px;

        select {
            background: url('#{path-file(images)}/icon/icon-arrow-down-gray.png') no-repeat calc(100% - 10px), url('#{path-file(images)}/icon/icon-world.png') no-repeat 10px;
        }
    }

    &.is-gender {
        width: 100%;
        // min-width: 80px;

        select {
            padding-left: 20px;
        }
    }

    &.is-transparent-background {
        background-color: transparent;

        select {
            background-color: transparent;
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-md-max))  {
        max-width: initial;
    }

    select {
        @media screen and (max-width: screen(labtop-lg))  {
            // padding-left: $select-padding-left * $font-size-reduce-primary;
            // padding-right: $select-padding-right * $font-size-reduce-primary;
            // font-size: font-primary-size(size-11) * $font-size-reduce-primary;
            // background-size: 10%;
        }
    }

    &.is-country {
        @media screen and (max-width: screen(phablet-lg-max)) {
            margin-top: 10px;
            margin-left: 0;

            select {
                margin-left: 0;
            }
        }

        @media screen and (max-width: screen(labtop-lg)) {
            min-width: 200px;

            select {
                background-size: 12px, 14px; // arrow, world
            }
        }
    }

    &.is-gender {
        @media screen and (max-width: screen(labtop-lg)) {
            // height: $button-height-deault * $font-size-reduce-primary;
        }

        select {
            @media screen and (max-width: screen(labtop-lg)) {
                // padding-left: $field-padding-side-deault * $font-size-reduce-primary;
                // padding-right: $field-padding-side-deault * $font-size-reduce-primary;
                // font-size: font-primary-size(size-11) * $font-size-reduce-primary;
                // background-size: 10%;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// jQuery UI Selectmenu
// ------------------------------------------------
.select-jqueryui {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    // Select button
    .ui-selectmenu-button {
        display: flex;
        align-items: center;
        width: auto;
        min-width: 150px;
        max-width: inherit;
        height: 36px;
        min-height: inherit;
        max-height: inherit;
        padding: 0 20px;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid $color-gray-3;
        border-radius: 5px;
        box-shadow: 0 0 0 transparent;

        &:hover {
            .ui-selectmenu-icon {
                background-image: url('#{path-file(icons)}/icon-arrow-down.png');
            }
        }

        &:active {
            background-color: #ffffff;
            border: 1px solid $color-gray-3;
        }

        &:focus {
            outline: none;
        }

        // Arrow
        .ui-selectmenu-icon {
            position: absolute;
            z-index: zindex(lv1);
            top: 50%;
            right: 12px;
            float: none;
            width: 10px;
            height: 6px;
            margin-top: -3px;
            background-image: url('#{path-file(icons)}/icon-arrow-down.png');
            background-position: center;
            background-size: cover;
        }

        // Text
        .ui-selectmenu-text {
            font-family: font-family(primary);
            font-size: font-primary-size(size-8);
            line-height: 1.3;
            color: color-text(default);

            &:after {

            }

            &.thailand {

            }

            &.english {

            }

            &.japan {

            }
        }
    }

    // Menu
    .ui-selectmenu-menu {
        // Body
        .ui-menu {

        }

        // List item
        .ui-menu-item {

        }

        // List item inner
        .ui-menu-item-wrapper {
            padding-left: 25px;
            font-family: font-family(secondary);
            font-size: font-primary-size(size-16);

            // History selected
            &.ui-state-active {

            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-flag,
    &.is-default {
        .ui-selectmenu-button {
            min-width: 200px;
            padding-left: 40px;
            padding-right: 40px;
        }

        .ui-menu {
            border-radius: 5px;
        }

        .ui-selectmenu-text {
            &:before {
                content: ' ';
                position: absolute;
                z-index: zindex(lv1);
                top: 50%;
                left: 10px;
                display: block;
                width: 18px;
                height: 18px;
                margin-top: -9px;
                background-size: cover;
            }

            &.thailand {
                &:before {
                    background-image: url('#{path-file(icons)}/icon-flag-thai.png');
                }
            }

            &.english {
                &:before {
                    background-image: url('#{path-file(icons)}/icon-flag-usa.png');
                }
            }

            &.japan {
                &:before {
                    background-image: url('#{path-file(icons)}/icon-flag-japan.png');
                }
            }

            &.global {
                &:before {
                    background-image: url('#{path-file(icons)}/icon-world.png');
                }
            }
        }

        .ui-selectmenu-menu {
            .ui-icon {
                position: absolute;
                z-index: zindex(lv1);
                top: 50%;
                left: 5px;
                display: block;
                width: 12px;
                height: 12px;
                margin-top: -6px;
                background-size: cover;

                &.thailand {
                    background-image: url('#{path-file(icons)}/icon-flag-thai.png');
                }

                &.english {
                    background-image: url('#{path-file(icons)}/icon-flag-usa.png');
                }

                &.japan {
                    background-image: url('#{path-file(icons)}/icon-flag-japan.png');
                }

                &.global {
                    background-image: url('#{path-file(icons)}/icon-world.png');
                }
            }
        }
    }

    &.is-default {
        position: relative;

        .ui-selectmenu-button {
            width: 100%;
            padding-left: $field-padding-side-deault;
            height: $field-height-deault;
        }

        .ui-selectmenu-menu {
            max-width: 100%;

            // List item inner
            .ui-menu-item-wrapper {
                padding-left: $field-padding-side-deault;
            }
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

#billing-address-select-anchor {
    margin-top: 5px;
    margin-bottom: 10px;
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
