// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Tables
// * Mixins
// * Contextual variations
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Mixins
// ==================================================================================================
@mixin table-variant(
    // Body, Header
    $table-container-padding: 10px,

    // Row
    $table-row-margin: -$table-container-padding,

    // Column
    $table-column-padding: 25px 10px,
    $table-column-header-padding: 25px 10px 10px 10px
) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: flex;
    flex-direction: column;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .table-header,
    .table-body {
        padding-left: $table-container-padding;
        padding-right: $table-container-padding;
    }

    .table-header {

    }

    .table-body {

    }

    .table-row {
        display: flex;
        align-items: stretch;
        align-content: center;
        margin-left: $table-row-margin;
        margin-right: $table-row-margin;
    }

    .table-column {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: $table-column-padding;
        border-bottom: 1px solid $color-gray-5;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &.is-header {
            padding: $table-column-header-padding;
            border-bottom: 0;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            @include text-variant(
                $text-display: inline-block,
                $text-font-family: font-family(primary),
                $text-font-size: font-primary-size(size-11),
                $text-line-height: 1.3,
                $text-color: color-text(green-secondary)
            );
            border-bottom: 1px solid color-text(green-secondary);

            &.button-typography {
                border-bottom: 0;
            }
        }
    }

    .cart-price {
        .price {
            @include text-variant(
                $text-font-size: font-secondary-size(size-11)
            );
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Contextual variations
// ==================================================================================================

// Table block
// ------------------------------------------------
.table-block {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include table-variant(
        $table-column-padding: 10px
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .table-body {
        p {
            font-family: font-family(secondary);
            font-size: font-secondary-size(size-11);
            font-weight: normal;
            line-height: 1.3;
            vertical-align: middle;
            color: $color-gray-1;
            text-transform: none;
            letter-spacing: 1px;
            text-align: center;
        }
    }

    .table-column {
        a {
            @include text-variant(
                $text-display: inline-block,
                $text-font-family: font-family(primary),
                $text-font-size: $font-thai-size-11,
                $text-line-height: 1.3,
                $text-color: color-text(green-secondary)
            );
            border-bottom: 1px solid color-text(green-secondary);

            &.button-typography {
                border-bottom: 0;
            }
        }
    }

    .cart-price {
        .price {
            @include text-variant(
                $text-font-size: $font-thai-size-11
            );
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-myorder,
    &.is-myreturn {
        .table-column {
            &:last-child {
                a {
                    display: none;
                }

                .button-typography {
                    display: inline-block;
                }
            }
        }
    }

    &.is-myorder {
        .table-column {
            &:nth-child(1) {
                flex: none;
                width: 150px;
            }

            &:nth-child(2) {
                width: 30%;
                min-width: 180px;
            }

            &:nth-child(3) {
                width: 10%;
                min-width: 100px;
            }

            &:nth-child(4) {
                flex: none;
                justify-content: center;
                width: 150px;
            }

            &:nth-child(5) {
                flex: none;
                justify-content: center;
                width: 150px;
            }

            &:nth-child(6) {
                flex: none;
                justify-content: center;
                width: 115px;
            }
        }
    }

    &.is-myreturn {
        .table-column {
            &:nth-child(1) {
                flex: none;
                width: 150px;
            }

            &:nth-child(2) {
                width: 30%;
                min-width: 180px;
            }

            &:nth-child(3) {
                width: 10%;
                min-width: 100px;
            }

            &:nth-child(4) {
                flex: none;
                width: 150px;
            }

            &:nth-child(5) {
                flex: none;
                justify-content: center;
                width: 115px;
            }
        }
    }

    &.is-checkout-review {
        margin-bottom: 30px;

        .table-column {
            &:nth-child(1) {
                max-width: 350px;
            }

            &:nth-child(2) {
                flex: none;
                width: 125px;
            }

            &:nth-child(3) {
                flex: none;
                justify-content: center;
                width: 50px;
            }

            &:nth-child(4) {
                flex: none;
                justify-content: flex-end;
                width: 125px;
            }
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Thai language
// ==================================================================================================
.thai-language {
    // Table block
    // ------------------------------------------------
    .table-block {
      // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
      // >>>>>>>>>>>>>>>>>>>>>>>

      // MIXINS
      // >>>>>>>>>>>>>>>>>>>>>>>
      @include table-variant(
          $table-column-padding: 10px
      );

      // STYLES OF COMPONENT ITSELF
      // >>>>>>>>>>>>>>>>>>>>>>>

      // STYLES OF CHILD CLASS
      // >>>>>>>>>>>>>>>>>>>>>>>
      .table-body {
          p {
              font-family: font-family(secondary);
              font-size: $font-thai-size-11;
              font-weight: normal;
              line-height: 1.3;
              vertical-align: middle;
              color: $color-gray-1;
              text-transform: none;
              letter-spacing: 1px;
              text-align: center;
          }
      }



      // STYLES OF STATE
      // >>>>>>>>>>>>>>>>>>>>>>>

      // STYLES OF MODIFIER CLASS
      // >>>>>>>>>>>>>>>>>>>>>>>
      &.is-myorder,
      &.is-myreturn {
          .table-column {
              &:last-child {
                  a {
                      display: none;
                  }

                  .button-typography {
                      display: inline-block;
                  }
              }
          }
      }

      &.is-myorder {
          .table-column {
              &:nth-child(1) {
                  flex: none;
                  width: 150px;
              }

              &:nth-child(2) {
                  width: 30%;
                  min-width: 180px;
              }

              &:nth-child(3) {
                  width: 10%;
                  min-width: 100px;
              }

              &:nth-child(4) {
                  flex: none;
                  justify-content: center;
                  width: 150px;
              }

              &:nth-child(5) {
                  flex: none;
                  justify-content: center;
                  width: 150px;
              }

              &:nth-child(6) {
                  flex: none;
                  justify-content: center;
                  width: 115px;
              }
          }
      }

      &.is-myreturn {
          .table-column {
              &:nth-child(1) {
                  flex: none;
                  width: 150px;
              }

              &:nth-child(2) {
                  width: 30%;
                  min-width: 180px;
              }

              &:nth-child(3) {
                  width: 10%;
                  min-width: 100px;
              }

              &:nth-child(4) {
                  flex: none;
                  width: 150px;
              }

              &:nth-child(5) {
                  flex: none;
                  justify-content: center;
                  width: 115px;
              }
          }
      }

      &.is-checkout-review {
          margin-bottom: 30px;

          .table-column {
              &:nth-child(1) {
                  max-width: 350px;
              }

              &:nth-child(2) {
                  flex: none;
                  width: 125px;
              }

              &:nth-child(3) {
                  flex: none;
                  justify-content: center;
                  width: 50px;
              }

              &:nth-child(4) {
                  flex: none;
                  justify-content: flex-end;
                  width: 125px;
              }
          }
      }

      // STYLES OF STATE WITH MODIFIER CLASS
      // >>>>>>>>>>>>>>>>>>>>>>>

      // MEDIA QUERY
      // >>>>>>>>>>>>>>>>>>>>>>>
    }
}
