// thumb nail
// ------------------------------------------------
@mixin thumb-nail(
    $thumb-padding: 0px,
    $thumb-head-font-size: 33px,
    $thumb-detail-font-size: 22px,
    $thumb-caption-padding: 0px,
    $thumb-space-detail: 0px
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    text-align: center;
    padding: $thumb-padding;
    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    img{
        margin: auto;
        width: 100px;
    }
    .caption{
        .row-width{
            // max-width: 70%;
            margin: auto;
        }
        .text-style{
            color: $color-blue-16;
            font-family: font-family(primary);
            font-size: $thumb-head-font-size;
            text-transform: none;
            padding-top: $thumb-caption-padding;
        }
    }
    .thumb-text-detail{
        position: relative;
        padding-left: 20px;
        margin: $thumb-space-detail;
        font-family: font-family(secondary);
        font-size: $thumb-detail-font-size;
        color: $color-gray-17;

        &:before {
            content: ' ';
            position: absolute;
            z-index: 1;
            top: 7px;
            left: 0;
            width: 5px;
            height: 5px;
            background-color: $color-gray-3;
            border-radius: 50%;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox