// thumb nail
// ------------------------------------------------
@mixin thumb-nail(
    $thumb-padding: 0px,
    $thumb-head-font-size: 33px,
    $thumb-detail-font-size: 22px
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    text-align: center;
    padding: $thumb-padding;
    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    img{
        margin: auto;
    }
    .caption{
        .text-style{
            color: $color-blue-head-thumb;
            font-family: font-family(primary);
            font-size: $thumb-head-font-size;
            text-transform: none;
        }
    }
    .thumb-text-detail{
        font-family: font-family(secondary);
        font-size: $thumb-detail-font-size;
        color: $color-dark-slate-gray;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox