// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Quick fix
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// [Fix title]
// eg. Nav specificity fix
//
// [Fix description]
// Someone used an ID in the header code (`#header a {}`) which trumps the
// nav selectors (`.site-nav a {}`). Use !important to override it until I
// have time to refactor the header stuff.
// ==================================================================================================


// Spacing and Font size
//
// fast fix spacing and font size at elements and components (wating designer comment).
// ==================================================================================================

.list-sitemap {
    .list-item {
        margin-bottom: 0;

        &:first-child {
            margin-bottom: 5px;
        }

        .text-default,
        .text-link {
            font-size: 12px;
        }
    }
}

.footer-main {
    padding-top: 20px;

    .footer-subscribe {
        .footer-subscribe-toy {
            @include scale(.65);
        }

        .footer-subscribe-description {
            margin-bottom: 60px;
        }

        .text-default {
            font-size: 12px;
        }
    }

    .footer-copyright {
        margin-top: 30px;
    }
}

.carousel-hero {
    &:before {
        content: 'Scroll Down';
        position: absolute;
        z-index: zindex(lv3);
        bottom: 65px;
        left: 50%;
        display: block;
        width: 100px;
        height: 44px;
        margin-left: -50px;
        background-image: url('#{path-file(icons)}/icon-mousescroll-down.gif');
        background-size: cover;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.75);
        white-space: nowrap;
        text-align: center;
        line-height: 105px;
    }
}

.about-segment {
    &.is-description {
        text-align: center;

        .text-title {
            font-size: 24px;
        }

        .text-default {
            &.is-paragraph {
                margin-bottom: 5px;
            }
        }

        @media (min-width: 1024px) {
            min-height: 170px;
        }

        @media (min-width: 1280px) {
            min-height: 140px;
        }

        @media (min-width: 1600px) {
            min-height: 110px;
        }

        @media (min-width: 1800px) {
            //min-height: 80px;
        }
    }
}

.list-whoweare {
    justify-content: center;

    .list-icon {
        max-width: 120px;
        margin: auto;

        &.is-active {
            left: 50%;
            @include translateX(-50%);
        }
    }
}

.list-award  {
    .list-item {
        min-height: 245px;

        .text-default {
            font-size: 12px;

            &.is-bold {
                font-size: 14px;
            }
        }
    }
}

.carousel-awards {
    max-width: 1280px;
    margin: 30px auto 20px auto;

    .carousel-content-image {
        max-width: 120px;
    }

    &.slick-dotted {
        &.slick-slider  {
            margin-bottom: 20px;
        }
    }
}

.date {
    .created-time {
        padding: 0 38px;
        position: relative;
        top: -17px;
        color: #999;
        font-size: 12px;
    }
}

.new-cards {
    .new-card.is-hover {
        &:hover {
            .created-time {
                color: $color-white;
            }
        }
    }
}

.news-detail-container,
.tipsforparents-detail-container {
    max-width: 1280px;

    .head-title {
        font-size: 28px;
    }

    .text-detail {
        font-size: 14px;
    }
}

.select-jqueryui {
    &.is-flag {
        transform: scale(.75);
        transform-origin: left;
    }
}

.footer-main {
    .footer-copyright {
        padding: 0;
    }
}

.list-navigation {
    .list-link.is-icon-font {
        font-size: 16px;

        &:last-child {
            img {
                width: auto;
                height: 20px;
            }
        }
    }
}

.footer-copyright {
    z-index: 9;
    position: relative;
}
