// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Breadcrumb
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Normal structure
// ------------------------------------------------
.breadcrumb {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding: 8px 60px;
    background-color: $color-gray-10;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Magento structure
// ------------------------------------------------
.breadcrumbs {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;
    z-index: zindex(lv2);
    padding: 10px 0;
    margin: 0 -60px 30px;
    background-color: $color-gray-10;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 60px;

        li,
        a,
        strong,
        span {
            float: none;
        }

        li {
            display: inline-block;
            vertical-align: middle;
        }

        a,
        strong,
        span {
            display: inline-block;
            font-weight: normal;
            line-height: 1;
            vertical-align: middle;
            color: $color-gray-1;
            text-transform: none;
            letter-spacing: 1px;
        }

        a,
        span {
            font-family: font-family(primary);
            font-size: font-primary-size(size-4);

            &:hover {
                color: $color-gray-1;
                text-decoration: none;
            }
        }

        strong {
            font-family: font-family(secondary);
            font-size: font-secondary-size(size-4);
        }

        i {
            position: relative;
            top: -1px;
            font-size: $font-size-2;
            vertical-align: middle;
            margin: 0 10px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(mobile-lg-max)) {
        margin-left: -30px;
        margin-right: -30px;
    }

    @media screen and (max-width: screen(tablet-sm)) {
        display: block;
    }

    ul {
        @media screen and (max-width: screen(mobile-lg-max)) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
