// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Footer
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

.footer-main {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    border-top: 1px solid $color-gray-20;
    padding-top: 35px; // 15

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .footer-segment {
        &.is-left,
        &.is-right {

        }

        &.is-left {

        }

        &.is-right {
            padding-left: 6vw;
        }
    }

    .footer-subscribe {
        position: relative;
        padding-right: 25px;

        .footer-subscribe-title {
            padding-right: 120px;
            margin-bottom: 10px;
        }

        .footer-subscribe-description {
            padding-right: 120px;
            margin-bottom: 30px;
        }

        .footer-subscribe-form {
            position: relative;
            padding-right: 140px;
            margin-right: 110px; // 185
        }

        .footer-subscribe-button {
            position: absolute;
            z-index: zindex(lv1);
            top: -15px;
            right: 0;
            max-width: 160px;
        }

        .footer-subscribe-toy {
            position: absolute;
            z-index: zindex(lv2);
            top: -5px;
            right: 25px;
            width: 90px;
            height: auto;
        }
    }

    .footer-copyright {
        padding: 8px 0;
        margin-top: 35px; // 15
        background-color: $color-gray-10;
    }

    .footer-copyright-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-copyright-segment {
        display: flex;
        align-items: center;

        &.is-left {}
        &.is-right {}
    }

    .footer-copyright-segment-inner {
        &.is-label-location {
            display: flex;
            margin-left: 20px;
            margin-right: 10px;
            line-height: 1;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .footer-segment {
        &.is-right {
            // padding-left: 0;
        }
    }

    .footer-subscribe {
        @media screen and (max-width: screen(phablet-sm-max)) {
            padding-right: 0;
        }

        .footer-subscribe-toy {
            @media screen and (max-width: screen(phablet-sm-max)) {
                position: static;
                margin: auto auto 30px auto;
            }
        }

        .footer-subscribe-title {
            @media screen and (max-width: screen(phablet-sm-max)) {
                padding-right: 0;
            }
        }

        .footer-subscribe-description {
            @media screen and (max-width: screen(phablet-sm-max)) {
                padding-right: 0;
                margin-bottom: 30px;
            }
        }

        .footer-subscribe-form {
            @media screen and (max-width: screen(mobile-md-max)) {
                padding-right: 0;
                margin-right: 0;
            }

            @media (min-width: screen(mobile-lg)) and (max-width: screen(phablet-sm-max)) {
                margin-right: 0;
            }

            @media screen and (max-width: 991px) {
                margin-bottom: 30px;
            }

            @media (min-width: screen(tablet-md)) and (max-width: screen(labtop-md-max)) {
                margin-right: 0;
            }
        }

        .footer-subscribe-button {
            @media screen and (max-width: screen(mobile-md-max)) {
                position: static;
                margin-top: 15px;
            }
        }
    }

    .footer-copyright {
        @media screen and (max-width: screen(tablet-md-max)) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .footer-copyright-inner {
        @media screen and (max-width: screen(tablet-md-max)) {
            flex-direction: column;
        }
    }

    .footer-copyright-segment {
        &.is-left {
            @media screen and (max-width: screen(phablet-lg-max)) {
                flex-direction: column;
            }

            @media screen and (max-width: screen(tablet-md-max)) {
                margin-bottom: 10px;
            }
        }
    }

    .footer-copyright-segment-inner {
        &.is-label-location {
            @media screen and (max-width: screen(phablet-lg-max)) {
                margin: 20px 0 5px 0;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
