// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Footer
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

.footer-main {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding-top: 70px;
    padding-bottom: 45px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .footer-segment {
        &.is-left,
        &.is-right {

        }

        &.is-left {

        }

        &.is-right {

        }
    }

    .footer-subscribe {
        position: relative;
        padding-right: 25px;

        .footer-subscribe-title {
            padding-right: 200px;
            margin-bottom: 20px;
        }

        .footer-subscribe-description {
            padding-right: 200px;
            margin-bottom: 100px; // 40
        }

        .footer-subscribe-form {
            position: relative;
            padding-right: 160px;
            margin-right: 110px; // 185
        }

        .footer-subscribe-button {
            position: absolute;
            z-index: zindex(lv1);
            top: -17px;
            right: 0;
            max-width: 160px;
        }

        .footer-subscribe-toy {
            position: absolute;
            z-index: zindex(lv2);
            top: -35px;
            right: 25px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .footer-subscribe {
        @media screen and (max-width: screen(phablet-sm-max)) {
            padding-right: 0;
        }

        .footer-subscribe-toy {
            @media screen and (max-width: screen(phablet-sm-max)) {
                position: static;
                margin: auto auto 30px auto;
            }
        }

        .footer-subscribe-title {
            @media screen and (max-width: screen(phablet-sm-max)) {
                padding-right: 0;
            }
        }

        .footer-subscribe-description {
            @media screen and (max-width: screen(phablet-sm-max)) {
                padding-right: 0;
                margin-bottom: 60px;
            }
        }

        .footer-subscribe-form {
            @media screen and (max-width: screen(mobile-md-max)) {
                padding-right: 0;
                margin-right: 0;
            }

            @media (min-width: screen(mobile-lg)) and (max-width: screen(phablet-sm-max)) {
                margin-right: 0;
            }

            @media screen and (max-width: 991px) {
                margin-bottom: 60px;
            }

            @media (min-width: screen(tablet-md)) and (max-width: screen(labtop-md-max)) {
                margin-right: 0;
            }
        }

        .footer-subscribe-button {
            @media screen and (max-width: screen(mobile-md-max)) {
                position: static;
                margin-top: 15px;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
