// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Sidebar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

body {
    &.is-sidebar-lock {
        // overflow: hidden;
        // margin-right: 16px;
    }
}

.sidebar {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include transition(all 0.5s ease);
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: zindex(lv5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .sidebar-overlay {
        position: fixed;
        z-index: zindex(lv1);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
    }

    .sidebar-container {
        @include transition(transform 0.5s ease);
        position: relative;
        z-index: zindex(lv2);
        width: 100%;
        max-width: 730px;
        background-color: $color-white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .35);
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-active {
        visibility: visible;
        opacity: 1;

        &.is-right {
            .sidebar-container {
                @include translate(0, 0);
            }
        }
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-right {
        justify-content: flex-end;

        .sidebar-container {
            @include translate(100%, 0);
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
