// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Topbar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

.topbar {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include transition(transform 0.5s ease);
    position: fixed;
    z-index: zindex(lv5);
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; // 60
    padding-left: 50px;
    padding-right: 50px;
    background-color: $color-white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .15);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .topbar-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .topbar-segment {
        &.is-left {
            display: flex;
            align-items: center;
        }

        &.is-right {}
    }

    .topbar-segment-inner {
        position: relative;
        z-index: zindex(lv2);

        &.is-main {

        }

        &.is-shop {

        }

        &.is-active {
            z-index: zindex(lv1);
        }
    }

    .logo-brand {
        @include translate(-50%, -50%);
        position: absolute;
        z-index: zindex(lv1);
        top: 50%;
        left: 50%;
        display: block;
        margin-top: 1px;

        &:hover {
            .logo-brand-color {
                opacity: 1;
            }
        }
    }

    .logo-brand-blackwhite,
    .logo-brand-color {
        @include transition(opacity 0.5s ease);
        width: 90px; // 60px
    }

    .logo-brand-color {
        opacity: 0;
        position: absolute;
        z-index: zindex(lv1);
        top: 0;
        left: 0;
    }

    .icon-hamburger {
        display: inline-block;
        width: 26px;
        margin-right: 20px;
        vertical-align: middle;

        span,
        &:before,
        &:after {
            content: ' ';
            display: block;
            height: 4px;
            background-color: $color-gray-1;
            border-radius: 3px;
        }

        span,
        &:before {
            margin-bottom: 4px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.headroom--pinned {
        // style
    }

    &.headroom--unpinned {
        @include translate(0, -105%);
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.page-header {
        padding-bottom: 0;
        margin: 0;
        border-bottom: 0;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        padding-left: 25px;
        padding-right: 25px;
    }

    .topbar-segment {
        &.is-right {
            @media screen and (max-width: screen(phablet-lg-max)) {
                width: 60px;
            }
        }
    }

    .icon-hamburger {
        @media screen and (max-width: screen(phablet-lg-max)) {
            // width: 18px;
            // margin-right: 10px;
        }

        span,
        &:before,
        &:after {
            @media screen and (max-width: screen(labtop-lg)) {
                // height: 2px;
                // border-radius: 1px;
            }
        }

        span,
        &:before {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // margin-bottom: 6px;
            }

            @media (min-width: screen(tablet-sm)) and (max-width: screen(labtop-lg)) {
                // margin-bottom: 9px;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
