// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// About
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Cover page
// ------------------------------------------------
.about-whoweare,
.about-howwework,
.about-whatawardswegot {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .about-header {
        @include text-header(
            $text-header-color: color-text(title-page),
            $text-header-margin-top: 30px,
            $text-sub-color: color-text(title-page)
        );
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

.about-whoweare {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-header(
        $container-background: url('#{path-file(backgrounds)}/about/about-cover-page-whoweare.jpg')
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

.about-howwework {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-header(
        $container-background: url('#{path-file(backgrounds)}/about/about-cover-page-whoweare.jpg')
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

.about-whatawardswegot {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-header(
        $container-background: url('#{path-file(backgrounds)}/about/about-cover-page-whoweare.jpg')
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Lightbox gallery
// ------------------------------------------------
.lg-slide {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    #lg-counter {
        font-family: font-family(secondary);
        font-size: font-primary-size(size-4);
        font-weight: normal;
        line-height: 1.3;
        vertical-align: middle;
        color: $color-white;
        text-transform: none;
        letter-spacing: 1px;
    }

    .lg-sub-html {
        background-color: rgba(0, 0, 0, .5);

        font-family: font-family(secondary);
        font-size: font-primary-size(size-4);
        font-weight: normal;
        line-height: 1.3;
        vertical-align: middle;
        color: $color-white;
        text-transform: none;
        letter-spacing: 1px;
    }

    .lg-thumb-outer {
        background-color: rgba(0, 0, 0, .25);
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

.lg-backdrop {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background-color: $color-white;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.in {
        opacity: .75;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Sort-by
// ------------------------------------------------
.about-container-sortby {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-image:  url('#{path-file(backgrounds)}/about/about-rubber-wood.jpg');
    background-size: cover;
    background-repeat: repeat-x;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(tablet-lg)) {
        // flex-direction: column;
        // padding: 0 15px;
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Video
// ------------------------------------------------
.about-video {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    width: 100%;
    height: 41.7vw;
    max-height: 480px;
    margin-bottom: 20px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Segment
// ------------------------------------------------
.about-segment {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding-bottom: 20px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-introduction {
        max-width: 1440px;
        padding-top: 45px;
        padding-bottom: 30px;
    }

    &.is-description {
        @include transition(height .5s ease);
        min-height: 140px;

        .text-title {
            font-size: font-primary-size(size-5);
        }

        .description {
            display: none;
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.is-introduction,
    &.is-description {
        padding-left: 150px;
        padding-right: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    &.is-icon {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    &.is-description,
    &.is-icon {
        max-width: 1024px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-introduction,
    &.is-icon,
    &.is-description {
        // @media screen and (max-width: screen(phablet-lg-max)) {
        //     padding-left: 15px;
        //     padding-right: 15px;
        // }

        @media screen and (max-width: screen(phablet-lg-max)) {
            padding-left: 25px;
            padding-right: 25px;
        }

        @media (min-width: screen(tablet-sm)) and (max-width: screen(labtop-sm-max)) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    &.is-description {
        // @media (min-width: 1024px) {
        //     min-height: 300px;
        // }

        // @media (min-width: 1280px) {
        //     min-height: 270px;
        // }

        // @media (min-width: 1600px) {
        //     min-height: 240px;
        // }

        // @media (min-width: 1800px) {
        //     min-height: 210px;
        // }
    }

    &.is-introduction {

    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Segment inner
// ------------------------------------------------
.about-segment-inner {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .paragraph-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-content {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .paragraph-link {
        @media screen and (max-width: screen(phablet-lg-max)) {
            flex-direction: column;
        }

        a {
            &:first-child {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    display: block;
                    margin-bottom: 15px;
                    text-align: center;
                }
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Cover
// ------------------------------------------------
.about-cover {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:before {
        content: ' ';
        display: block;
        height: 360px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-material {
        &:before {
            background-image: url('#{path-file(backgrounds)}/about/material-main.jpg');
        }

        &[data-cover=cover-1] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/material-1.jpg');
            }
        }

        &[data-cover=cover-2] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/material-2.jpg');
            }
        }

        &[data-cover=cover-3] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/material-3.jpg');
            }
        }

        &[data-cover=cover-4] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/material-4.jpg');
            }
        }

        &[data-cover=cover-5] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/material-5.jpg');
            }
        }

        &[data-cover=cover-6] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/material-6.jpg');
            }
        }

        &[data-cover=cover-7] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/material-7.jpg');
            }
        }
    }

    &.is-manufacturing {
        &:before {
            background-image: url('#{path-file(backgrounds)}/about/manufacturing-main.jpg');
        }

        &[data-cover=cover-1] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/manufacturing-1.jpg');
            }
        }

        &[data-cover=cover-2] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/manufacturing-2.jpg');
            }
        }

        &[data-cover=cover-3] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/manufacturing-3.jpg');
            }
        }

        &[data-cover=cover-4] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/manufacturing-4.jpg');
            }
        }

        &[data-cover=cover-5] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/manufacturing-5.jpg');
            }
        }
    }

    &.is-mind {
        &:before {
            background-image: url('#{path-file(backgrounds)}/about/mind-main.jpg');
        }

        &[data-cover=cover-1] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/mind-1.jpg');
            }
        }

        &[data-cover=cover-2] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/mind-2.jpg');
            }
        }

        &[data-cover=cover-3] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/mind-3.jpg');
            }
        }

        &[data-cover=cover-4] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/mind-4.jpg');
            }
        }

        &[data-cover=cover-5] {
            &:before {
                background-image: url('#{path-file(backgrounds)}/about/mind-5.jpg');
            }
        }
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Cover title
// ------------------------------------------------
.about-cover-title {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding-top: 3px 25px;
    text-align: center;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-material {
        background-color: $color-green-4;
    }

    &.is-manufacturing {
        background-color: $color-red-2;
    }

    &.is-mind {
        background-color: $color-blue-6;
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Roadmap
// ------------------------------------------------
.about-roadmap {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    &:before {
        content: ' ';
        position: absolute;
        z-index: zindex(lv2);
        top: 100px;
        bottom: 100px;
        left: 50%;
        display: none;
        width: 4px;
        margin-left: -2px;
        background: url('#{path-file(images)}/content/about/road-line.png') repeat-y;
    }

    &:after {
        content: ' ';
        position: absolute;
        z-index: zindex(lv1);
        top: 100px;
        bottom: 100px;
        left: 50%;
        display: none;
        width: 30px;
        margin-left: -15px;
        background-color: $color-gray-7;
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .about-roadmap-inner {
        position: absolute;
        z-index: zindex(lv2);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .road {
        max-width: 100%;
    }

    .roadmap-infographic {
        position: absolute;
        z-index: zindex(lv1);
        display: block;
        cursor: pointer;

        .infographic-image {
            width: 100%;
            height: auto;
            margin: auto;
        }

        &.is-lightbox {
            &:before {
                content: ' ';
                position: absolute;
                z-index: zindex(lv1);
                top: 50%;
                left: 50%;
                width: 2.5vw; // 48px
                height: 2.5vw; // 48px
                margin-left: -24px;
                background: url('#{path-file(icons)}/icon-play-green.png') no-repeat;
                background-size: cover;
            }
        }

        &.infographic-1 {
            top: 0.3%;
            left: 12.5%;
            width: 25%;
        }

        &.infographic-2 {
            top: 13.0%;
            left: 4.3%;
            width: 16%;

            &:before {
                top: 10%;
                left: 3%;
            }
        }

        &.infographic-3 {
            top: 13.5%;
            left: 31.4%;
            width: 16%;

            &:before {
                top: 30%;
                left: 105%;
            }
        }

        &.infographic-3-1 {
            top: 26.5%;
            left: 27.4%;
            width: 2.5vw;
            height: 2.5vw;

            &:before {
                display: none;
            }
        }

        &.infographic-3-2 {
            top: 14.5%;
            left: 34%;
            width: 2.5vw;
            height: 2.5vw;

            &:before {
                display: none;
            }
        }

        &.infographic-4 {
            top: 19.75%;
            left: 51.2%;
            width: 16%;
        }

        &.infographic-5 {
            top: 15.25%;
            left: 72.2%;
            width: 21.5%;

            &:before {
                top: -5%;
                left: 45%;
            }
        }

        &.infographic-6 {
            top: 29.7%;
            left: 86.9%;
            width: 12.8%;

            &:before {
                top: -32%;
                left: 72%;
            }
        }

        &.infographic-7 {
            top: 34.6%;
            left: 60.2%;
            width: 33.2%;

            &:before {
                top: 15%;
                left: 65%;
            }
        }

        &.infographic-7-1 {
            top: 49.6%;
            left: 64.7%;
            width: 4.8%;

            &:before {
                top: 93%;
                left: 28%;
            }
        }

        &.infographic-7-2 {
            top: 47.8%;
            left: 78.7%;
            width: 5.8%;

            &:before {
                top: 65%;
                left: 140%;
            }
        }

        &.infographic-8 {
            top: 48.2%;
            left: 43.2%;
            width: 18%;
        }

        &.infographic-9 {
            top: 50.2%;
            left: 12.8%;
            width: 26%;

            &:before {
                top: 68%;
                left: 3%;
            }
        }

        &.infographic-15 {
            top: 38%;
            left: 0%;
            width: 36.7%;

            &:before {
                top: 15%;
                left: 20%;
            }
        }

        &.infographic-10 {
            top: 67.3%;
            left: 2.5%;
            width: 13%;
        }

        &.infographic-11 {
            top: 69.6%;
            left: 17.3%;
            width: 19.9%;

            &:before {
                top: 38%;
                left: 26%;
            }
        }

        &.infographic-12 {
            top: 69%;
            left: 44.1%;
            width: 15.5%;

            &:before {
                top: 29%;
                left: 91%;
            }
        }

        &.infographic-13 {
            top: 70.6%;
            left: 74.3%;
            width: 12.8%;
        }

        &.infographic-14 {
            top: 83.8%;
            left: 66%;
            width: 31%;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        text-align: center;

        &:before,
        &:after {
            display: block;
        }
    }

    .road {
        @media screen and (max-width: screen(phablet-lg-max)) {
            display: none;
        }
    }

    .about-roadmap-inner {
        @media screen and (max-width: screen(phablet-lg-max)) {
            position: relative;
        }
    }

    .roadmap-infographic {
        @media screen and (max-width: screen(phablet-lg-max)) {
            // position: static;
            position: relative;
        }

        &.is-lightbox {
            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    // display: none;
                    width: 42px;
                    height: 42px;
                }
            }
        }

        &[class*="infographic-"] {
            @media screen and (max-width: screen(phablet-lg-max)) {
                top: 0;
                left: 0;
                width: 90%;
                padding: 30px 0;
                margin: auto;
            }
        }

        &.infographic-1 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 35%;
            }
        }

        &.infographic-2 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }

            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    top: 25%;
                    left: 90%;
                }
            }
        }

        &.infographic-3 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }

            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    top: 15.5%;
                    left: 28%;
                }
            }
        }

        &.infographic-3-1,
        &.infographic-3-2 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                position: absolute;
                width: auto;
                padding: 0;
            }
        }

        &.infographic-3-1 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                top: 17.5%;
                left: 87%;
                width: 42px;
            }
        }

        &.infographic-3-2 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                top: 23%;
                left: 15%;
                width: 42px;
            }
        }

        &.infographic-4 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }
        }

        &.infographic-5 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 40%;
            }

            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    top: 37%;
                    left: 95%;
                }
            }
        }

        &.infographic-6 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }

            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    top: -23%;
                    left: 10%;
                }
            }
        }

        &.infographic-7 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }
        }

        &.infographic-7-1,
        &.infographic-7-2 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                position: relative;
                display: inline-block;
            }

            .infographic-image {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    width: 100%;
                }
            }
        }

        &.infographic-7-1 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                left: -20vw;
                width: 11%;
            }

            @media screen and (max-width: screen(mobile-lg-max)) {
                top: -31vw;
            }

            @media (min-width: screen(phablet-xs)) and (max-width: screen(phablet-lg-max)) {
                top: -26vw;
            }

            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    top: 72%;
                    left: 0;
                }
            }
        }

        &.infographic-7-2 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // left: 3vw;
                left: 20vw;
                width: 12.5%;
            }

            @media screen and (max-width: screen(mobile-lg-max)) {
                top: -37vw;
            }

            @media (min-width: screen(phablet-xs)) and (max-width: screen(phablet-lg-max)) {
                top: -31.5vw;
            }
        }

        &.infographic-8 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
                margin-top: -150px;
            }
        }

        &.infographic-9 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }

            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    top: 8%;
                    left: 85%;
                }
            }
        }

        &.infographic-15 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }
        }

        &.infographic-10 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }
        }

        &.infographic-11 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }
        }

        &.infographic-12 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }

            &:before {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    top: 29%;
                    left: 80%;
                }
            }
        }

        &.infographic-13 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }
        }

        &.infographic-14 {
            @media screen and (max-width: screen(phablet-lg-max)) {
                // width: 30%;
            }
        }

        .infographic-image {
            @media screen and (max-width: screen(phablet-lg-max)) {
                width: auto;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
