// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Account
// - Login
// - Register
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Login, Register
// ------------------------------------------------
.account {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background: url('#{path-file(backgrounds)}/account/account-footer.png') no-repeat center bottom;
    background-size: 100%;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .account-form {
        position: relative;
        width: 490px;
        margin: 70px auto 300px auto;

        &:before {
            content: ' ';
            position: absolute;
            z-index: zindex(lv1);
            top: 140px;
            right: 100%;
            width: 248px;
            height: 200px;
            margin-right: 120px;
            background: url('#{path-file(backgrounds)}/account/account-helicopter.png') no-repeat center;
            background-size: 100%;
        }
    }

    .account-footer {

    }

    .account-footer-segment {
        margin-top: 35px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// My account
// ------------------------------------------------
.myaccount {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .myaccount-header {
        text-align: center;
        margin-bottom: 25px;
    }

    .myaccount-header-icon {
        display: inline-block;
        width: 110px;
        height: auto;
        margin-bottom: 10px;
    }

    .myaccount-segment-title {
        margin-bottom: 25px;
        text-align: center;
    }

    .my-account-avatar {
        width: 110px;
        height: 110px;
        margin: auto auto 25px;
        border-radius: 50%;
    }

    .myaccount-segment-spacing {
        padding-bottom: 45px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

