// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Account
// - Login
// - Register
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Login, Register
// ------------------------------------------------
.account {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background: url('#{path-file(backgrounds)}/account/account-footer.png') no-repeat center bottom;
    background-size: 100%;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .account-form {
        position: relative;
        width: 360px;
        margin: 60px auto 150px auto;

        &:before {
            content: ' ';
            position: absolute;
            z-index: zindex(lv1);
            top: 35px;
            right: 100%;
            display: block;
            width: 175px;
            height: 141px;
            margin-right: 30px;
            background: url('#{path-file(backgrounds)}/account/account-helicopter.png') no-repeat center;
            background-size: 100%;
        }
    }

    .account-footer {

    }

    .account-footer-segment {
        margin-top: 15px;

        &.is-notice {
            margin-top: 10px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-background-blank {
        background-image: none;
    }

    &.is-checkout-login {
        padding-bottom: 245px;
        margin-bottom: -35px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(mobile-lg-max)) {
        background-size: 200%;
    }

    .account-form {
        @media (max-width: screen(mobile-xs-max)) {
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;
        }

        @media screen and (max-width: screen(phablet-lg-max)) {
            margin-top: 30px;
            margin-bottom: 175px;
        }

        @media (min-width: screen(tablet-sm)) and (max-width: screen(labtop-lg-max)) {
            margin-bottom: 250px;
        }

        &:before {
            @media (max-width: screen(tablet-sm)) {
                position: relative;
                margin: auto;
                top: 0px;
                left: -20px;
                width: 130px;
                height: 105px;
                margin-bottom: 20px;
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// My account
// - Wishlist
// - Info
// - Address
// - Order
// - Return
// - Shipping
// - Payment
// - Confirm
// ------------------------------------------------
.myaccount {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding-top: 40px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .myaccount-header {
        text-align: center;
        margin-bottom: 35px;
    }

    .myaccount-header-icon {
        display: inline-block;
        width: 90px;
        height: auto;
        margin-bottom: 20px;
    }

    .myaccount-avatar {
        width: 110px;
        height: 110px;
        margin: 0 auto;
        background-size: cover;
        border-radius: 50%;
    }

    .myaccount-segment-title {
        margin-bottom: 25px;
        text-align: center;
    }

    .myaccount-segment-spacing {
        padding-bottom: 30px;

        &.is-small {
            padding-bottom: 15px;
        }

        &.is-large {
            padding-bottom: 45px;
        }
    }

    .myaccount-segment-button {
        padding-top: 30px;

        &.is-half {
            display: flex;
            margin-left: -15px;

            .myaccount-segment-button-inner {
                flex: 1;
                padding-left: 15px;
            }
        }
    }

    .myaccount-segment-button-inner {

    }

    .myaccount-address-content,
    .myaccount-content {
        display: flex;
        align-items: center;

        &.is-spacing-between {
            justify-content: space-between;
        }
    }

    .myaccount-address-inner,
    .myaccount-content-inner {
        flex: none;

        &.is-form {
            flex-grow: 1;
            max-width: calc(100% - 27px);
            padding-right: 30px;

            span,
            p {
                &.text-default {
                    font-size: $font-size-11;
                }
            }
        }

        &.is-button {
            width: 27px;
            text-align: right;

            &.is-align-top {
                align-self: flex-start;
            }

            .button-icon {
                width: 14px;
                height: auto;
            }
        }

        &.is-fluid {
            flex: 1;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
