// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// News
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// child delvelopment
// ------------------------------------------------
.child-home {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-header($container-background:url('#{path-file(images)}/background/child_development/child_development.jpg'));

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // margin-top: 125px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .child-header{
        @include text-header($text-header-margin-top:-90px,$text-header-color:$color-brown-dark,$text-sub-color:$color-brown-dark);
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// sort-by
// ------------------------------------------------
.container-agerang {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    height: 100px;
    padding: 0px 150px;
    background-image:  url('#{path-file(images)}/content/child_development/child-blue-wood.jpg') ;
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .child-age{
        @include select-form-group($label-font-size: 21px,$form-group-align:space-between,$label-opacity:0.7,$label-title-font-family: font-family(secondary),$label-color:$color-white);
        cursor: pointer;
    }
   .child-age-mobile{
        @include select-form-group($label-font-size: 21px,$select-font-size:17,$form-group-align:center,$label-color:$color-white);
   }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // @media (max-width: screen(labtop-lg)) {
    //     .child-age{
    //         .select-title{
    //             font-size: 25px;
    //          }
    //     }
    // }
    @media (max-width: screen(phablet-md)) {
        padding: 0px 15px;
    }

}

// month detail
// ------------------------------------------------
.child-detail {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // max-width: 1477px;
    margin: auto;
    padding: 22px 30px 52px 30px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .img-child{
        max-width: 670px;
        margin: auto;
    }
    .month-detail{
        font-family: font-family(primary);
        font-size: 23px;
        color: $color-grey-light;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // @media (max-width: screen(tablet-sm)){
    //     padding: 84px 0px;
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
// child row
// ------------------------------------------------
@mixin child-content(
    $child-padding: 30px
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding: $child-padding;
    // border-left-style: dotted;
    // border-width: 5px;
    // border-color: $color-dot-blue;
    border-left: 10px solid transparent;
    border-image: url('#{path-file(images)}/icon/child_development/child-dot.png');
    border-image-slice: 20 22;
    border-image-repeat: round;
    &.not-border{
        border: none;
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .child-thumbnail{
        @include thumb-nail($thumb-head-font-size:23px);
    }
    .text-detail{
        list-style-type: disc;
        li{
            font-family: font-family(secondary);
            font-size: 17px;
            color: $color-dark-slate-gray;
            &.is-space-li{
                &:not(:first-child){
                    margin-top: 27px;
                }
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// child action
// ------------------------------------------------
.child-action {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .action1{
            .row-month{
                display: flex;
                padding: 36px 0px;
                &.not-padding{
                    padding: 0px 0px;
                }
                &:nth-child(odd){
                    background: $color-blue-light;
                    .font-rotate{
                        background: $color-blue-light-10;
                        &.not-background{
                            background: unset;
                        }
                        &.is-dot{
                            background-image: url('#{path-file(images)}/icon/child_development/child-dot.png');
                            background-repeat: repeat-x;
                            background-position-x: 100vw;
                        }
                    }
                }
                &:nth-child(even){
                    .font-rotate{
                        background: $color-dark-blue;
                    }
                }
                .child-container{
                    &.is-head{
                        @include child-content($child-padding: 22px);
                    }
                    &.is-detail{
                        @include child-content($child-padding: 36px 62px);
                    }
                }
            }
            .font-rotate{
                width: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &.not-padding{
                    margin: -36px 0px;
                }
                .font-style{
                    font-family: font-family(tertiary);
                    font-size: 21px;
                    transform: rotate(-180deg);
                    writing-mode: vertical-rl;
                }
            }
    }
    .action2{
        .accordion{
            &:not(:first-child){
                margin-top: 5px;
            }
        }
        .accordion-container{
            background: $color-blue-light-20;
            cursor: pointer;
            .font-style{
                font-family: font-family(tertiary);
                font-size: 30px;
            }
        }
        .child-thumbnai{
            @include thumb-nail($thumb-head-font-size:23px,$thumb-detail-font-size:17px,$thumb-padding:30px);
        }

    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // @media (max-width: screen(mobile-lg)){
    //     .action2{
    //         .accordion-container{
    //             .font-style{
    //                 font-size: px;
    //             }
    //         }
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox


// segment-toy
// ------------------------------------------------
.segment-toy {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding: 84px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .header-component{
        .text-header{
            margin: auto;
            background: $color-blue-light-20;
            border-radius: 7px;
            width: fit-content;
            padding: 0px 27px;
            color: $color-dark-slate-gray;
            text-transform: none;
            font-family: font-family(tertiary);
            font-size: 37px;
        }
    }
    .img-newborn{
        margin: auto;
        max-width: 585px;
        padding: 37px 0px;
    }
    .toy-detail{
        border-top-style: dotted;
        border-width: 5px;
        border-color: $color-dot-blue;
        display:flex;
        flex-wrap:wrap;
        padding: 22px 0px 0px 0px;
        .text-header{
            font-family: font-family(primary);
            font-size: 17px;
            color: $color-dot-blue;
        }
        .text-detail{
            font-family: font-family(secondary);
            font-size: 17px;
            color: $color-grey-menu;
        }
        .is-space-toy-detail{
            margin-bottom: 22px;
        }
    }
    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(tablet-sm)){
        padding: 84px 30px;
    }
    // @media (max-width: screen(mobile-lg)){
    //     .header-component{
    //         .text-header{
    //             font-size: 43px;
    //         }
    //     }
    //     .toy-detail{
    //         .text-header , .text-detail{
    //             font-size: 20px;
    //         }
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// segment-toy
// ------------------------------------------------
.child-carousel {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .carousel-item {
        padding: 30px 0px;
        border: 1px solid $color-slate-gray-light-10;
    }
    .carousel-link {
        text-decoration: none;
    }
    .child-text-carousel {
        font-family: font-family(primary);
        font-size: 17px;
        line-height: 1.5;
        color: $color-black;

    }
   .child-text-price {
        color: $color-grey;
   }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-column-fifth {
        .carousel-category {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1px;
        }

        .carousel-item {
            width: 20%;
            background-color: $color-white;
            border-left-width: 0;
            margin-top: -1px;

            &:nth-child(5n + 5) {
                border-right: 0;
            }
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
