                                                                                                                       // //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// News
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// child delvelopment
// ------------------------------------------------
.child-home {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-header($container-background:url('#{path-file(images)}/background/child_development/child_development.jpg'));

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // margin-top: 125px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .child-header{
        // @include text-header($text-header-margin-top:-90px,$text-header-color:$color-gray-15,$text-sub-color:$color-gray-15);
        @include text-header(
            $text-header-color: color-text(title-page),
            $text-header-margin-top: 30px,
            $text-sub-color: color-text(title-page)
        );
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

#child-development-banner {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .child-header{
        // @include text-header($text-header-margin-top:-90px,$text-header-color:$color-gray-15,$text-sub-color:$color-gray-15);
        @include text-header(
            $text-header-color: color-text(title-page),
            $text-header-margin-top: 30px,
            $text-sub-color: color-text(title-page)
        );
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.range1 {
        @include container-header(
            $container-background:url('#{path-file(images)}/background/child_development/range-1.jpg')
        );
    }

    &.range2 {
        @include container-header(
            $container-background:url('#{path-file(images)}/background/child_development/range-2.jpg')
        );
    }

    &.range3 {
        @include container-header(
            $container-background:url('#{path-file(images)}/background/child_development/range-3.jpg')
        );
    }

    &.range4 {
        @include container-header(
            $container-background:url('#{path-file(images)}/background/child_development/range-4.jpg')
        );
    }

    &.range5 {
        @include container-header(
            $container-background:url('#{path-file(images)}/background/child_development/range-5.jpg')
        );
    }

    &.range6 {
        @include container-header(
            $container-background:url('#{path-file(images)}/background/child_development/range-6.jpg')
        );
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// sort-by
// ------------------------------------------------
.container-agerang {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // height: 40px;
    padding: 12px 150px;
    background-image:  url('#{path-file(images)}/content/child_development/child-blue-wood.jpg') ;
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .child-age{
        @include select-form-group($label-font-size: 18px,$form-group-align:space-between,$label-opacity:0.7,$label-title-font-family: font-family(secondary),$label-color:$color-white);
        cursor: pointer;
    }
   .child-age-mobile{
        @include select-form-group($label-font-size: 18px,$select-font-size:17,$form-group-align:center,$label-color:$color-white);
   }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // @media (max-width: screen(labtop-lg)) {
    //     .child-age{
    //         .select-title{
    //             font-size: 25px;
    //          }
    //     }
    // }
    @media (max-width: screen(phablet-md)) {
        padding: 0px 15px;
    }

}

// month detail
// ------------------------------------------------
.child-detail {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // max-width: 1477px;
    margin: auto;
    padding: 53px 60px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    img,
    .img-child,
    .img-responsive {
        max-width: 670px;
        margin: auto;
    }
    .month-detail{
        padding-top: 45px;
        font-family: font-family(primary);
        font-size: $font-size-4;
        color: $color-gray-16;
        letter-spacing: 1px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: 1200px){
        padding: 53px 15px;
    }
    @media (max-width: screen(tablet-sm)){
        padding: 53px 30px;
    }

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
// child row
// ------------------------------------------------
@mixin child-content(
    $child-padding: 30px
) {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding: $child-padding;
    border-left-style: dotted;
    border-width: 5px;
    border-color: $color-blue-20;
    &.not-border{
        border: none;
    }

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .child-thumbnail{
        @include thumb-nail($thumb-head-font-size: $font-size-4);

        .caption {
            padding-top: 10px;
        }
    }
    .text-detail{
        list-style-type: disc;
        li{
            font-family: font-family(secondary);
            font-size: 14px;
            color: $color-gray-17;
            &.is-space-li{
                &:not(:first-child){
                    margin-top: 10px;
                }
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// child action
// ------------------------------------------------
.child-action {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .action1{
            .row-month{
                display: flex;
                padding: 26px 0px;
                &.not-padding{
                    padding: 0px 0px;
                }
                &:nth-child(odd){
                    background: $color-blue-11;
                    .font-rotate{
                        background: $color-blue-12;
                        &.not-background{
                            background: unset;
                        }
                        &.is-dot{
                            background-image: url('#{path-file(images)}/icon/child_development/child-dot.png');
                            background-repeat: repeat-x;
                            background-position-x: 3px;
                        }
                    }
                }
                &:nth-child(even){
                    .font-rotate{
                        background: $color-blue-14;
                    }
                }
                .child-container{
                    &.is-head{
                        @include child-content($child-padding: 22px);
                    }
                    &.is-detail{
                        @include child-content($child-padding: 5px 52px);
                    }
                }
            }
            .font-rotate{
                width: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &.not-padding{
                    margin: -26px 0px;
                }
                .font-style{
                    font-family: font-family(tertiary);
                    font-size: $font-size-2;
                    transform: rotate(-180deg);
                    writing-mode: vertical-rl;
                }
            }
    }
    .action2{
        .accordion{
            &:not(:first-child){
                margin-top: 5px;
            }
        }
        .accordion-container{
            background: $color-blue-13;
            cursor: pointer;
            .font-style{
                font-family: font-family(tertiary);
                font-size: 30px;
            }
        }
        .child-thumbnai{
            @include thumb-nail($thumb-head-font-size:16px,$thumb-detail-font-size:14px,$thumb-padding:30px);
        }
        .slick-dots li button:before
        {
            font-family: 'slick';
            font-size: 11px;
            line-height: 20px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // @media (max-width: screen(mobile-lg)){
    //     .action2{
    //         .accordion-container{
    //             .font-style{
    //                 font-size: px;
    //             }
    //         }
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox


// segment-toy
// ------------------------------------------------
.segment-toy {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding: 84px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .header-component{
        .text-header{
            margin: auto;
            background: $color-blue-13;
            border-radius: 7px;
            width: fit-content;
            padding: 0px 27px;
            color: $color-gray-17;
            text-transform: none;
            font-family: font-family(tertiary);
            font-size: 28px;
        }
    }
    .img-newborn{
        margin: auto;
        max-width: 585px;
        padding: 37px 0px;
        text-align: center;
    }
    .toy-detail{
        border-top-style: dotted;
        border-width: 5px;
        border-color: $color-blue-20;
        display:flex;
        flex-wrap:wrap;
        padding: 22px 0px 0px 0px;
        .text-header{
            font-family: font-family(primary);
            font-size: 16px;
            color: $color-blue-19;
        }
        .text-detail{
            font-family: font-family(secondary);
            font-size: 14px;
            color: $color-gray-13;
        }
        .is-space-toy-detail{
            margin-bottom: 22px;
        }
    }
    .button-typography {
        .button-icon {
            &.is-product-development {
                width: 70px;
                height: 70px;
            }
        }
    }
    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(tablet-sm)){
        padding: 84px 30px;
    }
    // @media (max-width: screen(mobile-lg)){
    //     .header-component{
    //         .text-header{
    //             font-size: 43px;
    //         }
    //     }
    //     .toy-detail{
    //         .text-header , .text-detail{
    //             font-size: 20px;
    //         }
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// segment-toy
// ------------------------------------------------
.child-carousel {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .slick-slide {
        margin-left: -1px;
    }
    .carousel-item {
        padding-bottom: 30px;
        border: 1px solid $color-gray-19;
    }
    .carousel-link {
        text-decoration: none;
    }
    .child-text-carousel {
        @include ellipsis;
        margin-bottom: 0; // 10
        font-family: font-family(primary);
        font-size: font-primary-size(size-4);
        line-height: 1.5;
        color: color-text(default);
    }
   .child-text-price {
        color: $color-gray-18;
   }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-column-fifth {
        .carousel-category {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1px;
        }

        .carousel-item {
            width: 20%;
            background-color: $color-white;
            border-left-width: 0;
            margin-top: -1px;

            &:nth-child(5n + 5) {
                border-right: 0;
            }
        }
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
