// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Customer Support
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Customer Cover
// ------------------------------------------------
.customersupport-cover {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-header(
        $container-background: url('#{path-file(backgrounds)}/customersupport/customersupport-cover-page.jpg')
    );

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .customersupport-header {
        @include text-header(
            $text-header-color: $color-white,
            $text-sub-color: $color-white
        );
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Sort-by
// ------------------------------------------------
.customersupport-container-sortby {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    min-height: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-image:  url('#{path-file(backgrounds)}/customersupport/customersupport-rubber-wood.jpg');
    background-size: cover;
    background-repeat: repeat-x;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(phablet-lg-max)) {
        background-image:  url('#{path-file(backgrounds)}/customersupport/customersupport-rubber-wood-mobile.jpg');
        // background-repeat: repeat;
        // background-size: 100% 50%;
    }
}

// Customer Support
// ------------------------------------------------
.customersupport {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .customersupport-segment {
        &.is-message {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        // &.is-recaptcha {
        //     display: flex;
        //     justify-content: center;
        //     padding-bottom: 20px;
        // }

        &.is-office {
            margin-bottom: 15px;
        }

        &.is-address {
            margin-bottom: 15px;
        }

        &.is-title {
            padding: 0 60px 25px 60px;
            text-align: center;
        }

        &.is-storelocator {
            padding: 0 60px 25px 60px;
            margin: auto;
            max-width: 720px;
            text-align: center;
        }
    }

    .customersupport-segment-inner {
        &.is-upload-files {
            display: flex;
            align-items: center;
        }
    }

    .customersupport-map {
        min-height: 540px;
        background-color: $color-gray-5;
    }

    .customersupport-office-image {
        height: 100%;
        min-height: 215px;
        background-size: cover;
    }

    .customersupport-office-contact {
        display: flex;
        height: 100%;
        padding: 25px;
        background-color: $color-white;
    }

    .customersupport-answer {
        padding: 0 30px 20px 30px;

        .text-dafault {
            font-size: font-secondary-size(size-11);
        }
    }

    // .button-upload-files {
    //     flex: none;
    //     margin-right: 15px;
    // }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .customersupport-segment {
        &.is-storelocator {
            @media screen and (max-width: screen(mobile-lg-max)) {
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 30px;
            }
        }
    }

    .customersupport-segment-inner {
        &.is-upload-files {
            @media screen and (max-width: screen(phablet-lg-max)) {
                flex-direction: column;
                text-align: center;
            }
        }
    }

    // .button-upload-files {
    //     @media screen and (max-width: screen(phablet-lg-max)) {
    //         margin-right: 0;
    //         margin-bottom: 10px;
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Customize style after integrate with magento
.content-worldwideoffice {
    .container-page {
        padding-bottom: 0;
        margin-bottom: -1px;
    }
}

.customersupport-segment {
    &.is-recaptcha {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        #captcha-required {
            padding-top: 5px;
            font-family: font-family(secondary);
            font-size: font-secondary-size(size-8);
            font-weight: normal;
            line-height: 1.3;
            vertical-align: middle;
            color: $color-red-1;
            text-transform: none;
            letter-spacing: 1px;
        }
    }

    &.is-subscribed {
        margin-bottom: 30px;
    }
}

.button-upload-files {
    flex: none;
    margin-right: 15px;

    @media screen and (max-width: screen(phablet-lg-max)) {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
