// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Home
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Segment
// ------------------------------------------------
.home {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .home-segment {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .home-title {
        padding-bottom: 30px;
        text-align: center;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Category
// ------------------------------------------------
.category {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Subscribe
// ------------------------------------------------
.subscribe {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;
    background: url('#{path-file(backgrounds)}/home/home-subscribe.jpg') no-repeat center;
    background-size: cover;

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        z-index: zindex(lv1);
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    // Toy
    &:before {
        top: 45px;
        // right: 2vw;
        // width: 24vw; // 458px
        // height: 21vw; // 406px
        right: 16vw;
        width: 14vw;
        height: 12vw;
        background-image: url('#{path-file(backgrounds)}/home/home-subcribe-toy.png');
        background-size: contain;
    }

    // Tablet
    &:after {
        bottom: 0;
        // left: 22vw;
        // width: 20vw;
        // height: 13vw;
        left: 14vw;
        width: 27vw;
        height: 18vw;
        background-image: url('#{path-file(backgrounds)}/home/home-subcribe-tablet.png');
        background-size: contain;
    }


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .subscribe-segment {
        &.is-email {
            margin-bottom: 60px; // 7vw
        }

        &.is-catalogue {
            margin-left: 25vw;
        }
    }

    .subscribe-title {
        margin-bottom: 15px;
        text-align: center;
    }

    .subscribe-description {
        margin-bottom: 20px;
        text-align: center;

        .text-default {
            display: block;
        }
    }

    .subscribe-field {
        margin-bottom: 20px;

        [class^="field"] {
            width: 27vw; // 35
            margin-left: auto;
            margin-right: auto;
        }
    }

    .subscribe-button {
        text-align: center;

        a[class^="button"],
        button[class^="button"] {
            min-width: 175px;

            &:nth-child(2) {
                margin-left: 20px;
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media screen and (max-width: screen(mobile-lg-max)) {
        // padding-top: 50vw;
        // padding-bottom: 50vw;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: screen(phablet-sm)) and (max-width: screen(phablet-lg-max)) {
        // padding-top: 20vw;
        // padding-bottom: 20vw;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: screen(tablet-sm)) and (max-width: screen(tablet-sm-max)) {
        padding-bottom: 8vw;
    }

    @media (min-width: screen(tablet-md)) and (max-width: screen(tablet-lg-max)) {
        padding-bottom: 10vw;
    }

    // Toy
    &:before {
        @media screen and (max-width: screen(phablet-lg-max)) {
            // top: 30px;
            // width: 50vw;
            // height: 43.75vw;
            top: 15px;
            width: 110px;
            height: 94px;
        }
    }

    // Tablet
    &:after {
        @media screen and (max-width: screen(phablet-lg-max)) {
            // width: 70vw;
            // height: 43.4vw;
            width: 210px;
            height: 140px;
        }
    }

    .subscribe-segment {
        &.is-catalogue {
            @media screen and (max-width: screen(tablet-lg-max)) {
                margin-left: 0;
            }
        }

        &.is-email {
            @media screen and (max-width: screen(phablet-lg-max)) {
                margin-bottom: 30px;
            }
        }
    }

    .subscribe-field {
        @media screen and (max-width: screen(mobile-lg-max)) {
            margin-bottom: 30px;
        }

        [class^="field"] {
            @media screen and (max-width: screen(phablet-lg-max)) {
                width: 100%;
            }
        }
    }

    .subscribe-button {
        @media screen and (max-width: screen(phablet-lg-max)) {
            max-width: 280px;
            margin: auto;
        }

        a[class^="button"],
        button[class^="button"] {
            @media screen and (max-width: screen(phablet-lg-max)) {
                min-width: 100%;
                padding-left: 0;
                padding-right: 0;
            }

            &:first-child {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    margin-bottom: 15px;
                }
            }

            &:nth-child(2) {
                @media screen and (max-width: screen(phablet-lg-max)) {
                    margin-left: 0;
                }
            }
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// News
// ------------------------------------------------
.news {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // @include transition(background-position-x 0.5s ease);
    position: relative;
    // background-image: url('#{path-file(backgrounds)}/home/home-news-aligator-full.png');
    // background-repeat: no-repeat;
    // background-position-x: -150%;
    // background-position-y: bottom;
    // background-size: 60vw;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .news-segment {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        width: 59vw;
        height: 45vw;
        background-image: url('#{path-file(backgrounds)}/home/home-news-board.png');
        background-size: cover;
    }

    .news-segment-inner {
        max-width: 59%;
        padding-top: 10px;
        margin: auto auto auto 25%;
    }

    .aligator {
        @include transition(transform 1s animation-timing(smooth));
        @include translate(-100%, 0);
        position: absolute;
        z-index: zindex(lv1);
        bottom: 0;
        left: 0;
        width: 60vw;
        height: auto;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.aos-animate {
        .aligator {
            @include translate(-29%, 0);
        }
    }

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .news-segment {
        @media screen and (max-width: screen(tablet-sm)) {
            width: 95vw;
            height: 72vw;
        }
    }

    .aligator {
        @media screen and (max-width: screen(tablet-sm)) {
            z-index: zindex(lv2);
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Development
// ------------------------------------------------
.developments {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include clearfix;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background-color: #ddd;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .developments-segment {
        float: left;
        width: 50%;

        &.is-image {

        }

        &.is-content {

        }
    }

    .developments-image {
        height: 100%;
        background-size: 51%;
        background-position: left center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        // background-color: red;
    }

    .developments-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        height: 100%;
        padding: 30px 10.5%;
        background-image: url('../images/background/home/home-development-detail.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .developments-title {
    }

    .developments-sub-title {
        padding-top: 5px; // 35px > 1.8vw
        padding-bottom: 10px; // 35px > 1.8vw
    }

    .developments-paragraph {
        padding-right: 30px;
        padding-bottom: 20px; // 75px
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    .developments-segment {
        @media screen and (max-width: screen(phablet-md-max)) {
            float: none;
            width: 100%;
        }
    }

    .developments-image {
        @media screen and (max-width: screen(phablet-md-max)) {
            height: 50vh;
            background-size: cover;
            background-position: center;
        }

        @media (min-width: screen(phablet-lg)) and (max-width: screen(tablet-sm)) {
            background-size: 100%;
            background-position: -25vw center;
        }
    }

    .developments-title {
        .text-carousel {
            &.is-title {
                @media screen and (max-width: screen(tablet-sm)) {
                    font-size: font-primary-size(size-4); // 20px
                }
            }
        }
    }

    .developments-sub-title {
        .text-carousel {
            &.is-large  {
                @media screen and (max-width: screen(tablet-sm)) {
                    font-size: font-primary-size(size-2); // 24px
                }
            }
        }
    }

    // .developments-paragraph {
    //     &.text-carousel {
    //         &.is-paragraph {
    //             @media screen and (max-width: screen(tablet-sm)) {
    //                 font-size: font-primary-size(size-8); // 12px
    //             }
    //         }
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
