// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Home
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Subscribe
// ------------------------------------------------
.subscribe {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;
    background: url('#{path-file(backgrounds)}/home/home-subscribe.jpg') no-repeat center;
    background-size: cover;

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        z-index: zindex(lv1);
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    // Toy
    &:before {
        top: 45px;
        right: 2vw;
        width: 24vw; // 458px
        height: 21vw; // 406px
        background-image: url('#{path-file(backgrounds)}/home/home-subcribe-toy.png');
        background-size: contain;
    }

    // Tablet
    &:after {
        bottom: 0;
        left: 8vw;
        width: 35vw; // 685px
        height: 22vw; // 425px
        background-image: url('#{path-file(backgrounds)}/home/home-subcribe-tablet.png');
        background-size: contain;
    }


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .subscribe-segment {
        &.is-email {
            margin-bottom: 7vw;
        }

        &.is-catalogue {
            margin-left: 35vw;
        }
    }

    .subscribe-title {
        margin-bottom: 25px;
        text-align: center;
    }

    .subscribe-description {
        margin-bottom: 35px;
        text-align: center;

        .text-default {
            display: block;
        }
    }

    .subscribe-field {
        margin-bottom: 40px;

        [class^="field"] {
            width: 690px;
        }
    }

    .subscribe-button {
        text-align: center;

        a[class^="button"],
        button[class^="button"] {
            min-width: 300px;

            &:first-child {
                margin-right: 20px;
            }
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// News
// ------------------------------------------------
.news {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    position: relative;
    background: url('#{path-file(backgrounds)}/home/home-news-aligator.png') no-repeat left bottom;
    background-size: 41vw;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .news-segment {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        width: 59vw;
        height: 45vw;
        background-image: url('#{path-file(backgrounds)}/home/home-news-board.png');
        background-size: cover;
    }

    .news-segment-inner {
        max-width: 59%;
        padding-top: 10px;
        margin: auto auto auto 25%;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Development
// ------------------------------------------------
.developments {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include clearfix;

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background-color: #ddd;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .developments-segment {
        float: left;
        width: 50%;

        &.is-image {

        }

        &.is-content {

        }
    }

    .developments-image {
        height: 100%;
        background-size: 50%;
        background-position: left center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: red;
    }

    .developments-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        height: 100%;
        padding: 30px 10.5%;
        background-image: url('../images/background/home/home-development-detail.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .developments-title {

    }

    .developments-sub-title {
        padding-top: 1.8vw; // 35px
        padding-bottom: 1.8vw; // 35px
    }

    .developments-paragraph {
        padding-right: 30px;
        padding-bottom: 3.9vw; // 75px
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
