// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// News
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// news-home
// ------------------------------------------------
.news-home {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background-image: url('#{path-file(images)}/background/news/news_kid.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
    display: flex;
    align-items: center;
    padding: 0px 124px;
    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title {
        text-transform: unset;
        font-family: font-family(primary);
        font-size: font-primary-size(size-7);
        color: $color-white;
    }
    .sub-title {
        text-transform: unset;
        font-family: font-family(secondary);
        font-size: 30px;
        color: $color-white;
    }
    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title {
        margin-top: 30px;
        margin-bottom: 12px;
    }
    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // screen lg
    @media (max-width: screen(tablet-lg)) {
        // padding: 0px 30px;
        .head-title {
            font-size: 55px;
        }
        .sub-title {  
            display: inline;
            font-size: 25px;
        }
    }
    @media (max-width: screen(tablet-sm)) {
        padding: 0px 50px;
    }
    @media (max-width: screen(phablet-xs)) {
        .head-title {
            font-size: 50px;
        }
        .sub-title {
            font-size: 20px;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox


// news-card
// ------------------------------------------------
.new-card {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include card();

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    
    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// sort-by
// ------------------------------------------------
.container-sortby {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 50px;
    background-image:  url('#{path-file(images)}/content/news/news-rubber-Wood.jpg') ;
    background-size: cover;
    background-repeat: repeat-x;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .news-select {
        @include select-form-group($form-group-align:flex-end);
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
  
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox