// acitivities container
// ------------------------------------------------
.activities-container {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    max-width: 1540px;
    margin: auto;
    padding: 60px 50px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title{
        font-family: font-family(primary);
        text-transform: unset;
        font-size: 48px;
        color: $color-grey-head;
    }
    .text-credit{
        font-family: font-family(secondary);
        font-size: 24px;
        color: $color-gray-1;
    }
    .text-detail{
        font-family: font-family(secondary);
        font-size: 24px;
        color: $color-gray-1;
        line-height:44px; 
        .text-mark{
            font-family: font-family(primary);
        }
    }
    .img-head-container{
        width: 100%;
        max-width: 1438px;
        max-height: 958px;
    }
    .img-sub-container{
        width: 100%;
        max-width: 597px;
        max-height: 380px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .text-credit{
        margin-top: 21px;
    }
    .img-head-container{
        margin-top: 37px;
    }
    .text-detail{
        &:first-child{
            margin-top: 54px;
        }
        &.except{
            margin-top: 28px;
        }
        margin-top: 73px;
    }
    .img-sub-container{
        margin-top: 47px;
        margin-right: 48px;
    }
    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

.recoment{
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title{
        font-family: font-family(primary);
        font-size: 32px;
        margin-bottom: 30px;
        padding-left: 33px;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox