// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Product
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Product
// ------------------------------------------------
.product {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    display: flex;
    padding: 25px 60px;
    margin-left: -20px;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .product-segment {
        padding-left: 20px;

        &.is-filter-option {
            flex: 0;
        }

        &.is-list {
            flex: 1;
        }
    }

    .product-segment-inner {
        padding-left: 20px;

        &.is-filter-option {
            flex: 0;
        }

        &.is-list {
            flex: 1;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
