// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// News
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// news-home
// ------------------------------------------------
.tipsforparent-home {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include container-header($container-background:url('#{path-file(images)}/background/tipsforparents/tipsforparents-kid.jpg'));

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .tipsforparent-header{
        @include text-header($text-header-margin-top: 0);
        .form-email {
            @include form-icon;
            margin-top: 24px;
        }
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>

}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox


// tipsforparents-card
// ------------------------------------------------
.tipsforparents-cards{
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .row-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .tipsforparents-card{
        @include card();
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(tablet-sm)){
        .row-flex{
            justify-content: center;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox



// sort-by
// ------------------------------------------------
.tipsforparent-container-sortby {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>


    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 60px;
    background-image:  url('#{path-file(images)}/content/tipsforparents/tipsforparents-rubber-wood.jpg') ;
    background-size: cover;
    background-repeat: repeat-x;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .tips-select-category {
        @include select-form-group($select-width: 590px,$space-text-select: 32px);
    }
    .tips-select-sortby {
        @include select-form-group($form-group-align:flex-end);
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    @media (max-width: screen(phablet-sm)) {
        padding: 0px 15px;
    }
    @media (max-width: screen(phablet-xs)) {
        .news-select {
            @include select-form-group($label-font-size: 25px,$select-font-size: 18px);
        }
    }
    // @media (max-width:screen(tablet-lg)){
    //     flex-direction: column;
    //     padding: 0px 15px;
    //     .tips-select-category {
    //         @include select-form-group($label-font-size: 25px,$select-font-size: 18px,$select-width: 100%,$form-group-padding: 15px 0px 0px 0px);
    //     }
    //     .tips-select-sortby {
    //         @include select-form-group($label-font-size: 25px,$select-font-size: 18px,$select-width: 100%,$form-group-padding: 15px 0px 15px 0px);
    //     }
    // }
    // @media (max-width: screen(phablet-xs)) {
    //     .tips-select-category {
    //         @include select-form-group($label-font-size: 25px,$select-font-size: 20px);
    //     }
    //     .tips-select-sortby {
    //         @include select-form-group($label-font-size: 25px,$select-font-size: 20px);
    //     }
    // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

