// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// News
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// news-home
// ------------------------------------------------
.tipsforparent-home{
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    background-image:  url('#{path-file(images)}/background/tipsforparents/tipsforparents-kid.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
    display: flex;
    align-items: center;
    padding: 0px 124px;
    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title{
        text-transform: unset;
        font-family: map-get($font-family-maps,primary);
        font-size: map-get($font-primary-size-maps,size-7);
        color: $color-white;
    }
    .sub-title{
        text-transform: unset;
        font-family: map-get($font-family-maps,secondary);
        font-size: 30px;
        color: $color-white;
    }
    .form-email{
        position: relative;
        width: 100%;
        max-width: 650px;
        height: 58px;
        margin-top: 24px;
        input{
            width: 100%;
            height: 100%;
            border-radius: 5px; 
            border: none;
            padding: 0px 23px;
            font-size: 24px;
        }
    }
    .icon-search{
        position: absolute;
        font-size: 22px;
        z-index: 3;
        top: 19px;
        right:23px; 
        color: $color-gray-1;
    }
    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .head-title{
        margin-top: -43px;
        margin-bottom: 12px;
    }
    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
    // screen lg
    @media (max-width: map-get($screen-maps, tablet-lg)){
        .sub-title{
            display: inline;
        }
    }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox


// news-card
// ------------------------------------------------
.tipsforparents-card {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    max-width: 480px;
    margin: auto;
    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .thumbnail-img{
        width: 100%;
        max-height: 380px;
    }
    .card-detail{
        font-family: map-get($font-family-maps , primary );
        font-size: 24px;
        color: $color-black;
    }
    .card-sub-detail{
        font-family: map-get($font-family-maps,secondary);
        font-size: 20px;
        color:$color-grey;
    }
    .caption{
        width: 100%;
        min-height: 146px;
    }
    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover{
        background: $color-blue-flower;
        cursor: pointer;
    }
    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .caption{
        padding-top: 30px;
        padding-left: 38px;
        padding-right: 38px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    
    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox



// sort-by
// ------------------------------------------------
.tipsforparent-container-sortby{
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 50px;
    background-image:  url('#{path-file(images)}/content/tipsforparents/tipsforparents-rubber-wood.jpg') ;
    background-size: cover;
    background-repeat: repeat-x;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .title-select{
        font-family: map-get($font-family-maps , primary );
        font-size: 30px;
    }
    .selectParent{
        width: 100%;
        max-width: 290px;
        overflow:hidden; 
        select{
            width: 100%;
            height: 55px; 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 2px 2px 2px 18px;
            border: none;
            border-radius: 5px;
            background: $color-white 
            url('#{path-file(images)}/icon/icon-arrow-down.png') 
             no-repeat 95%;
        }
    }
  
    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .form-container{
        margin-left: 16px;
    }

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox